@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Medicina del Adolescente</h2>
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <img src="~/imagenes/iconos/especialidades/MedicinaAdolescente.svg" width="100%" height="70%">
                        </div>
                        <div class="col-lg-10">
                            <p align="justify">
                                La cardiología se dedica al estudio, diagnóstico y tratamiento de afecciones que afectan el corazón,
                                así como las arterias y venas que forman el sistema cardiovascular. Los cardiólogos trabajan
                                para identificar problemas como enfermedades cardíacas congénitas o adquiridas, trastornos del
                                ritmo cardíaco, enfermedades de las arterias coronarias y problemas en las válvulas cardíacas.
                                Utilizan una variedad de pruebas diagnósticas y tratamientos,
                                desde medicamentos hasta procedimientos quirúrgicos, para garantizar la salud óptima del
                                corazón y la circulación sanguínea en los pacientes.
                            </p>
                            <br />
                            <p align="left">
                                <span style="font-size: 1.2em; font-weight: bold;">Servicios</span>
                                <br />
                                <i class="bi bi-check-circle-fill"></i> Consulta Ambulatoria <br />
                                <i class="bi bi-check-circle-fill"></i> Planificación Familiar<br />
                                <i class="bi bi-check-circle-fill"></i> Actividades:<br />
                                &nbsp;&nbsp;&nbsp; <i class="bi fa-chevron-circle-left"></i> Consejería Salud Psicológica<br />
                                &nbsp;&nbsp;&nbsp; <i class="bi fa-chevron-circle-left"></i> Consejería Salud Sexual Reproductiva<br />
                                &nbsp;&nbsp;&nbsp; <i class="bi fa-chevron-circle-left"></i> Consejería de Salud Nutricional<br />
                                &nbsp;&nbsp;&nbsp; <i class="bi fa-chevron-circle-left"></i> Apoyo de una Asistenta Social
                            </p>
                        </div>
                    </div>
                    <br /> 
                    <br />
                    <div class="row gy-4 justify-content-center align-items-center">
                        <div class="col-sm-4">
                            <div class="video-container">
                                <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="200" src="https://www.youtube.com/embed/Rq0-8N1ljME" width="100%"></iframe>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="video-container">
                                <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" src="https://www.youtube.com/embed/6WLj1Y1H_-M" width="100%"></iframe>
                            </div>
                        </div>                        
                    </div>
                    <br />
                    <br />
                    <!-- ======= INICIO STAFF MEDICO ======= -->
                    <div class="section-header">
                        <div class="row gy-4">
                            <div class="col-lg-2">
                                <img src="~/imagenes/iconos/especialidades/staff.svg" width="100%" height="70%" />
                            </div>
                            <div class="col-lg-4" style="align-self: center;">
                                <h6> Staff Médico de la semana</h6>
                            </div>
                        </div>
                    </div>
                    <iframe src="http://asistencia.insn.gob.pe/rol/rolmed.php?icodigo=49" width="100%" height="600"></iframe>
                    <!-- ======= FIN STAFF MEDICO ======= -->
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN ======= -->
    <br />
</main>