@using INSN.Web.ViewModels.Home

@model DocumentoLegalViewModel

@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Directorio Institucional</h2>               
            </div>
            <div class="col-lg-3 col-md-2">
            <div id="dc_jqaccordion_widget-10" class="et_pb_widget">             
                <div class="dcjq-accordion" id="dc_jqaccordion_widget-10-item">
                    
                    <ul id="menu-menu-transparencia" class="menu">
                            <li class="sub-menu-heading">DATOS GENERALES</li>               
                            <li id="menu-item-A1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A2">
                                <a href="#">1.1 Designación de funcionarios responsables de la Ley 27806</a>
                            </li>
                            <li id="menu-item-A2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-A2 dcjq-parent-li">
                                <a href="#" class="dcjq-parent">1.2 Directorio<span class="dcjq-icon"></span></a>
                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-A3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A3">
                                        <a href="#">Dirección de la entidad</a>
                                    </li>
                                    <li id="menu-item-A4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A4">
                                        <a href="#">Directorio de los Servidores Civiles y correos electrónicos</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-A5 dcjq-parent-li">
                                <a href="#" class="dcjq-parent">1.3 Marco Legal<span class="dcjq-icon"></span></a>
                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-A6" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A6">
                                        <a href="#">Norma de creación de la entidad</a>
                                    </li>
                                    <li id="menu-item-A7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A7">
                                        <a href="#">Normativa de Transparencia y acceso a la información Pública </a>
                                    </li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>
            </div>
            <div id="contenido_2" class="col-lg-9 col-md-2">
            
            </div>
            <br />
            <br />



         @*    <div id="page-container" class="side-scroll page-header-modern main-content-boxed">
                <!-- sidebarINSN -->
                    <nav id="sidebarINSN" class="blog">
                    <div class="SidebarINSN-content">
                        <div class="js-sidebarINSN-scroll">
                            <div class="content-side content-side-full">
                                <ul class="nav-main">

                                    <li class="nav-main-heading">User Interface</li>
                                    <li class="nav-main-item">
                                        <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                                            <i class="nav-main-link-icon fa fa-grip-vertical"></i>
                                            <span class="nav-main-link-name">Blocks</span>
                                        </a>
                                        <ul class="nav-main-submenu">
                                                <li class="nav-main-item">
                                                    <a class="nav-main-link" href="be_blocks_styles.html">
                                                    <span class="nav-main-link-name">Styles</span>
                                                </a>
                                            </li>
                                                <li class="nav-main-item">
                                                    <a class="nav-main-link" href="be_blocks_styles.html">
                                                    <span class="nav-main-link-name">Options</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_blocks_forms.html">
                                                    <span class="nav-main-link-name">Forms</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_blocks_themed.html">
                                                    <span class="nav-main-link-name">Themed</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_blocks_api.html">
                                                    <span class="nav-main-link-name">API</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                        <li class="nav-main-item">
                                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                                                <i class="nav-main-link-icon fa fa-grip-vertical"></i>
                                                <span class="nav-main-link-name">Blocks</span>
                                            </a>
                                        <ul class="nav-main-submenu">
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_widgets_tiles.html">
                                                    <span class="nav-main-link-name">Tiles</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_widgets_users.html">
                                                    <span class="nav-main-link-name">Users</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_widgets_stats.html">
                                                    <span class="nav-main-link-name">Statistics</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_widgets_media.html">
                                                    <span class="nav-main-link-name">Media</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_widgets_blog.html">
                                                    <span class="nav-main-link-name">Blog</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_widgets_projects.html">
                                                    <span class="nav-main-link-name">Projects</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                      
                                        <li class="nav-main-item">
                                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                                                <i class="nav-main-link-icon fa fa-grip-vertical"></i>
                                                <span class="nav-main-link-name">Blocks</span>
                                            </a>
                                        <ul class="nav-main-submenu">
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_ui_grid.html">
                                                    <span class="nav-main-link-name">Grid</span>
                                                </a>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="be_ui_icons.html">
                                                    <span class="nav-main-link-name">Icons</span>
                                                </a>
                                            </li>                                         
                                        </ul>
                                    </li>
                                 
                            
                                </ul>
                            </div>
                            <!-- END Side Navigation -->
                        </div>
                        <!-- END sidebarINSN Scrolling -->
                    </div>
                    <!-- sidebarINSN Content -->
                </nav>
                <!-- END sidebarINSN -->         
           
              
              
            </div>

            </div>  *@
            <!-- END Page Container -->
       </div> 
    </section>
    
</main>
