@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">

    <!-- ======= INICIO DE SESSION CON PESTAÑA ( Investigación )======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Investigación y Proyectos</h2>
                    <p align="justify">
                        @*  lalalalallal *@
                    </p>
                    <br />
                    <br />

                    <div class="content">
                     
                        <div class="row">
                            <div class="col-md-6">
                                <div class="block block-themed">
                                    <div class="block-header bg-corporate">
                                     @*  <div class="block-header bg-primary"> *@
                                        <h3 class="block-title"> INVESTIGACIÓN EN EL INSN</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="fa fa-2x fa-arrow-rotate-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p>
                                            El INSN también tiene un fuerte enfoque en la investigación científica.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block block-themed">
                                    <div class="block-header bg-corporate">
                                        <h3 class="block-title">CONVENIOS PARA INVESTIGACIÓN</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="fa fa-2x fa-arrow-rotate-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p>INSN, ha establecido numerosos convenios de investigación a lo largo de los años.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block block-themed">
                                    <div class="block-header bg-corporate">
                                        <h3 class="block-title">EVALUACIÓN, MONITOREO Y ASESORÍA DE PROYECTOS</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="fa fa-2x fa-arrow-rotate-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p>Garantizar la eficacia y el éxito de las iniciativas de investigación y atención médica pediátrica.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block block-themed">
                                    <div class="block-header bg-corporate">
                                        <h3 class="block-title">GUÍA PARA ELABORACIÓN DE PROYECTOS </h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="fa fa-2x fa-arrow-rotate-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p> Proceso riguroso para garantizar la calidad, viabilidad y relevancia de las iniciativas relacionadas con la salud infantil.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block block-themed">
                                    <div class="block-header bg-corporate">
                                        <h3 class="block-title">INVESTIGACIÓN COLABORATIVA</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="fa fa-2x fa-arrow-rotate-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p>Fundamental para avanzar en el conocimiento científico y mejorar la atención médica pediátrica.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block block-themed">
                                    <div class="block-header bg-corporate">
                                        <h3 class="block-title">FONDO CONCURSABLE PARA INVESTIGACIÓN</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="fa fa-2x fa-arrow-rotate-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p> Proporcionaría recursos financieros y apoyo a proyectos de investigación que aborden problemas de salud infantil prioritarios.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block block-themed">
                                    <div class="block-header bg-corporate">
                                        <h3 class="block-title">TALLERES DE INVESTIGACIÓN</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="fa fa-2x fa-arrow-rotate-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p>Capacitación a profesionales de la salud, investigadores, estudiantes en el proceso de investigación científica en el ámbito de la salud infantil.</p>
                                    </div>
                                </div>
                            </div>
                  @*           <div class="col-md-6">
                                <div class="block block-themed">
                                    <div class="block-header bg-corporate">
                                        <h3 class="block-title">Corporate</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="si si-puzzle"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p>Block’s content..</p>
                                    </div>
                                </div>
                            </div> *@
                        </div>
                 
                     </div>
               </div>
         </div>
    </div>
    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->
</main>