@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <form>
    <!-- ======= INICIO DE SESSION CON PESTAÑA ( Investigación )======= -->
        <div class="section best-deal">
            <div class="container">
                <div class="col-lg-12">
                    <div class="section-header">
                        <h2>Investigación y Proyectos en el INSN</h2>
                        <p>
                            El INSN también tiene un fuerte enfoque en la investigación científica.
                        </p>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- ======= INICIO Convenios para la investigación======= -->
         <section id="C1" class="section best-deal sections-bg" style="background-color: #f6f6f6;">
            <div class="section-header">
                <h2>Convenios para la Investigación</h2>
                <p>INSN, ha establecido numerosos convenios de investigación a lo largo de los años.</p>
                <br />
            </div>
        </section>
        <!-- ======= FIN Convenios para la investigación======= -->
        <!-- ======= INICIO EVALUACIÓN, MONITOREO Y ASESORÍA DE PROYECTOS======= -->
        <section id="C2" class="testimonials">
            <div class="section-header">
                <br/>  
                <h2>Evaluación, Monitoreo y Asesoría de Proyectos</h2>
                <p>Garantizar la eficacia y el éxito de las iniciativas de investigación y atención médica pediátrica.</p>
                <br />
            </div>
        </section>
        <!-- ======= FIN EVALUACIÓN, MONITOREO Y ASESORÍA DE PROYECTOS======= -->
        <!-- ======= INICIO Guía de la Elaboración de Proyectos======= -->
        <section id="C3" class="section best-deal sections-bg" style="background-color: #f6f6f6;">
            <div class="section-header">
                <h2>Guía de la Elaboración de Proyectos</h2>
                <p>Proceso riguroso para garantizar la calidad, viabilidad y relevancia de las iniciativas relacionadas con la salud infantil</p>
                <br />
            </div>
        </section>
        <!-- ======= FIN Guía de la Elaboración de Proyectos======= -->
        <!-- ======= INICIO Investigación colaborativa======= -->
        <section id="C4" class="testimonials">
            <div class="section-header">
                <br /> 
                <h2>Investigación colaborativa</h2>
                <p>Fundamental para avanzar en el conocimiento científico y mejorar la atención médica pediátrica.</p>
                <br />
            </div>
        </section>
        <!-- ======= FIN Investigación colaborativa======= -->
        <!-- ======= INICIO Fondo Concursable para la Investigación======= -->
        <section id="C5" class="section best-deal sections-bg" style="background-color: #f6f6f6;">
            <div class="section-header">
                <h2>Fondo Concursable para la Investigación</h2>
                <p>Proporcionaría recursos financieros y apoyo a proyectos de investigación que aborden problemas de salud infantil prioritarios</p>
                <br />
            </div>
        </section>
        <!-- ======= FIN Fondo Concursable para la Investigación======= -->
        <!-- ======= INICIO Investigación colaborativa======= -->
        <section id="C6" class="testimonials">
            <div class="section-header">
                <br /> 
                <h2>Talleres de Investigación</h2>
                <p>Capacitación a profesionales de la salud, investigadores, estudiantes en el proceso de investigación científica en el ámbito de la salud infantil.</p>
                <br />
            </div>
        </section>
        <!-- ======= FIN Investigación colaborativa======= -->
                    </form>
    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->
</main>