@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO CARDIOLOGÍA ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Gastroenterología</h2>
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <img src="~/imagenes/iconos/especialidades/Gastroenterologia.svg" width="100%" height="70%">
                        </div>
                        <div class="col-lg-10">
                            <p align="justify">
                                El INSN se destaca por su enfoque integral en el cuidado de los más pequeños, abordando desde trastornos
                                digestivos comunes hasta enfermedades crónicas complejas que afectan a los órganos vitales del sistema digestivo en niños y adolescentes.
                                Los gastroenterólogos en el INSN no solo se dedican a la investigación, diagnóstico y tratamiento
                                de estas afecciones, sino que lo hacen con un enfoque especialmente adaptado a las necesidades y particularidades
                                de los pacientes pediátricos. Esto implica una sensibilidad adicional en el manejo de las condiciones
                                gastrointestinales en niños, donde se hace hincapié en métodos de diagnóstico y tratamientos que sean
                                efectivos pero también cuidadosos con el desarrollo y bienestar de los jóvenes pacientes.
                            </p>
                            <br />
                            <p align="left">
                                <span style="font-size: 1.2em; font-weight: bold;">Servicios</span>
                                <br />
                                <i class="bi bi-check-circle-fill"></i> Consulta Ambulatoria <br />
                                <i class="bi bi-check-circle-fill"></i> Hospitalización
                            </p>
                        </div>
                    </div>
                    <br />
                    <br /> 
                    <!-- ======= INICIO STAFF MEDICO ======= -->
                    <div class="section-header">
                        <div class="row gy-4">
                            <div class="col-lg-2">
                                <img src="~/imagenes/iconos/especialidades/staff.svg" width="100%" height="70%" />
                            </div>
                            <div class="col-lg-4" style="align-self: center;">
                                <h6> Staff Médico de la semana</h6>
                            </div>
                        </div>
                    </div>
                    <iframe src="http://asistencia.insn.gob.pe/rol/rolmed.php?icodigo=39" width="100%" height="600"></iframe>
                    <!-- ======= FIN STAFF MEDICO ======= -->
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN CARDIOLOGÍA ======= -->
    <br />
</main>