@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Cirugía Tórax y Cardiovascular</h2>
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <img src="~/imagenes/iconos/especialidades/CirugiaToraxCardiovascular.svg" width="100%" height="70%">
                        </div>
                        <div class="col-lg-10">
                            <p align="justify">
                                Los servicios en cirugía torácica y cardiovascular en el INSN están orientados hacia el 
                                diagnóstico y tratamiento de afecciones que afectan el corazón, los pulmones, el tórax y 
                                los vasos sanguíneos en niños. Esto puede incluir enfermedades cardíacas congénitas,
                                malformaciones pulmonares, trastornos del desarrollo torácico, entre otros.
                            </p>
                            <br />
                            <p align="left">
                                <span style="font-size: 1.2em; font-weight: bold;">Servicios</span>
                                <br />
                                <i class="bi bi-check-circle-fill"></i> Consulta Ambulatoria <br />
                                <i class="bi bi-check-circle-fill"></i> Hospitalización<br />
                                <i class="bi bi-check-circle-fill"></i> Cirugía 
                            </p>
                        </div>
                    </div>
                    <br /> 
                    <br />                 
                    <!-- ======= INICIO STAFF MEDICO ======= -->
                    <div class="section-header">
                        <div class="row gy-4">
                            <div class="col-lg-2">
                                <img src="~/imagenes/iconos/especialidades/staff.svg" width="100%" height="70%" />
                            </div>
                            <div class="col-lg-4" style="align-self: center;">
                                <h6> Staff Médico de la semana</h6>
                            </div>
                        </div>
                    </div>
                    <iframe src="http://asistencia.insn.gob.pe/rol/rolmed.php?icodigo=59" width="100%" height="600"></iframe>
                    <!-- ======= FIN STAFF MEDICO ======= -->
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN ======= -->
    <br />
</main>