@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Cirugia Pediátrica</h2>
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <img src="~/imagenes/iconos/especialidades/CirugiaPediatrica.svg" width="100%" height="70%">
                        </div>
                        <div class="col-lg-10">
                            <p align="justify">
                                La cirugía pediátrica en el Instituto Nacional de Salud del Niño (INSN) se especializa en la
                                evaluación, diagnóstico, tratamiento quirúrgico y cuidado postoperatorio de afecciones quirúrgicas
                                en bebés, niños y adolescentes. Este departamento está dedicado a ofrecer atención quirúrgica específica
                                para la población pediátrica.
                            </p>
                            <br />
                            <p align="left">
                                <span style="font-size: 1.2em; font-weight: bold;">Servicios</span>
                                <br />
                                <i class="bi bi-check-circle-fill"></i> Consulta Ambulatoria <br />
                                <i class="bi bi-check-circle-fill"></i> Hospitalización <br />
                                <i class="bi bi-check-circle-fill"></i> Cirugía general pediátrica
                            </p>
                        </div>
                    </div>
                    <br /> 
                    <br />
                    <div class="row gy-4 justify-content-center align-items-center">                     
                        <div class="col-sm-4">
                            <div class="video-container">
                                <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" src="https://www.youtube.com/embed/PBtb9CZpIw8" width="100%"></iframe>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <!-- ======= INICIO STAFF MEDICO ======= -->
                    <div class="section-header">
                        <div class="row gy-4">
                            <div class="col-lg-2">
                                <img src="~/imagenes/iconos/especialidades/staff.svg" width="100%" height="70%" />
                            </div>
                            <div class="col-lg-4" style="align-self: center;">
                                <h6> Staff Médico de la semana</h6>
                            </div>
                        </div>
                    </div>
                    <iframe src="http://asistencia.insn.gob.pe/rol/rolmed.php?icodigo=31" width="100%" height="600"></iframe>
                    <!-- ======= FIN STAFF MEDICO ======= -->
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN ======= -->
    <br />
</main>