@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>
                        Cirugía de Cabeza, Cuello y Maxilofacial
                    </h2>
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <img src="~/imagenes/iconos/especialidades/CirugiaCabeza.svg" width="100%" height="70%">
                        </div>
                        <div class="col-lg-10">
                            <p align="justify">
                                El cirujano de cabeza y cuello es el especialista en el tratamiento quirúrgico de las 
                                enfermedades que afectan la cara (fracturas, tumores benignos y malignos), el cuello
                                (nódulos tiroideos, cáncer de tiroides, entre otros), entre otros localizados en la cabeza o cuello. <br />

                                Se enfoca en el manejo en el análisis de las alteraciones óseas, musculares, nerviosas estudio determinando 
                                la prevención, diagnóstico, tratamiento y rehabilitación de las enfermedades congénitas y adquiridas del cráneo,
                                cara, cabeza y cuello. Las lesiones encontradas pueden 
                                ser de índole benigna o maligna y su origen puede ser tumoral, traumático, por degeneración o envejecimiento.<br />

                                El cirujano de cabeza y cuello evaluará al paciente y definirá el maneo en conjunto,
                                habitualmente los procedimientos de la especialidad requieren el estudio inicial de la
                                lesión para definir el plan de trabajo quirúrgico, el médico planteará las alternativas de manejo y de ser
                                necesario podrá sugerir el trabajo conjunto con otros especialistas para el manejo integral de la enfermedad.
                            </p>
                            <br />
                            <p align="left">
                                <span style="font-size: 1.2em; font-weight: bold;">Enfermedades</span>
                                <br />
                                <i class="bi bi-check-circle-fill"></i> Cirugía oral<br />
                                <i class="bi bi-check-circle-fill"></i> Tumores benignos y malignos de cabeza y cuello<br />
                                <i class="bi bi-check-circle-fill"></i> Traumatismos de la cara<br />
                                <i class="bi bi-check-circle-fill"></i> Enfermedades de las glándulas salivares<br />
                                <i class="bi bi-check-circle-fill"></i> Deformidades dentofaciales<br />
                                <i class="bi bi-check-circle-fill"></i> Patología de la articulación temporomandibular<br />
                                <i class="bi bi-check-circle-fill"></i> Malformaciones congénitas como los síndromes craneofaciales, el labio leporino y la fisura palatina<br /><br />
                                <span style="font-size: 1.2em; font-weight: bold;">Cartera de Servicios</span>
                                <br />
                                <i class="bi bi-check-circle-fill"></i> Consulta Ambulatoria<br />
                                <i class="bi bi-check-circle-fill"></i> Hospitalización
                            </p>
                        </div>
                    </div>
                    <br /> 
                    <br />                 
                    <!-- ======= INICIO STAFF MEDICO ======= -->
                    <div class="section-header">
                        <div class="row gy-4">
                            <div class="col-lg-2">
                                <img src="~/imagenes/iconos/especialidades/staff.svg" width="100%" height="70%" />
                            </div>
                            <div class="col-lg-4" style="align-self: center;">
                                <h6> Staff Médico de la semana</h6>
                            </div>
                        </div>
                    </div>
                    <iframe src="http://asistencia.insn.gob.pe/rol/rolmed.php?icodigo=58" width="100%" height="600"></iframe>
                    <!-- ======= FIN STAFF MEDICO ======= -->
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN ======= -->
    <br />
</main>