@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Ginecología</h2>
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <img src="~/imagenes/iconos/especialidades/Ginecologia.svg" width="100%" height="70%">
                        </div>
                        <div class="col-lg-10">
                            <p align="justify">
                                La ginecología pediátrica se enfoca en abordar problemas ginecológicos que afectan
                                a niñas y adolescentes, como trastornos menstruales, problemas hormonales,
                                malformaciones genitales congénitas, infecciones del tracto genital, entre 
                                otros. Este servicio suele ser ofrecido por especialistas en ginecología pediátrica
                                o pediatras especializados en este campo.
                            </p>  
                            <br />
                            <p align="left">
                                <span style="font-size: 1.2em; font-weight: bold;">Servicios</span>
                                <br />
                                <i class="bi bi-check-circle-fill"></i> Consulta Ambulatoria <br />
                                <i class="bi bi-check-circle-fill"></i> Hospitalización
                            </p>
                        </div>
                    </div>
                    <br /> 
                    <br />
                  
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN ======= -->
    <br />
</main>