@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
   
    <!-- ======= INICIO DE SESSION CON PESTAÑA (    BIBLIOTECA VIRTUAL )======= -->
    <!-- ======= INICIO OBJETIVOS - ORGANIGRAMA - HISTORIA ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h3>BIBLIOTECA VIRTUAL</h3>
                    @* <p align="justify">
                      FF
                    </p> *@
                    <br />
                </div>
        </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-4 text-center">
                     
                        <button type="button" class="btn rounded-0 btn-outline-warning btn-lg mb-2 text-center">BASE DE DATOS</button>
                        <br /> <br />
                        <a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/BDI.JPG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://www.tripdatabase.com/Home" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/BDII.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://www.cochranelibrary.com/" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/BDIV.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://www.dynamed.com/?" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/BDV.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://www.uptodate.com/contents/search" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/BDIII.PNG" class="rounded img-thumbnail">
                        </a>

                    </div>

                    <div class="col-md-4 text-center">
                        <button type="button" class="btn rounded-0 btn-outline-warning btn-lg mb-2 text-center">COLECCIONES</button>                  
                        <br /> <br />
                        <a href="https://portal.research4life.org/" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/CI.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://ovidsp.dc2.ovid.com/ovid-new-a/ovidweb.cgi" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/CII.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://scielo.org/es/" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/CIII.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://search.ebscohost.com/" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/CIV.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://bvsalud.org/es/" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/CV.PNG" class="rounded img-thumbnail">
                        </a>
                    </div>

                    <div class="col-md-4 text-center">
                        <button type="button" class="btn rounded-0 btn-outline-warning btn-lg mb-2 text-center">REVISTAS</button>
                        <br /> <br />
                        <a href="https://www.nejm.org/" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/RI.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://publications.aap.org/" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/RII.PNG" class="rounded img-thumbnail">
                        </a>
                        <br /> <br />
                        <a href="https://www.sciencedirect.com/?login=Acceder" target="_blank">
                        <img src="~/imagenes/BibliotecaVirtual/RIII.PNG" class="rounded img-thumbnail">
                        </a>
                        
                    </div>
                </div>

            </div> 
    <br />
    </div>
    </div>
</main>

