@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
   
    <!-- ======= INICIO DE SESSION CON PESTAÑA (    BIBLIOTECA VIRTUAL )======= -->
    <!-- ======= INICIO OBJETIVOS - ORGANIGRAMA - HISTORIA ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h3>BIBLIOTECA VIRTUAL</h3>
                    @* <p align="justify">
                      FF
                    </p> *@
                    <br />
                </div>
        </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-4 text-center">
                       @*  <button type="button" class="btn btn-info mb-2 text-center" disabled="">BASE DE DATOS</button> *@
                        <button type="button" class="btn rounded-0 btn-outline-warning btn-lg mb-2 text-center">BASE DE DATOS</button>
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/BDI.JPG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/BDII.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/BDIV.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/BDV.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/BDIII.PNG">

                    </div>

                    <div class="col-md-4 text-center">
                        <button type="button" class="btn rounded-0 btn-outline-warning btn-lg mb-2 text-center">COLECCIONES</button>
                        @* <button type="button" class="btn btn-info mb-2 text-center" disabled="">COLECCIONES</button> *@
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/CI.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/CII.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/CIII.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/CIV.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/CV.PNG">
                        
                    </div>

                    <div class="col-md-4 text-center">
                       @*  <button type="button" class="btn btn-info mb-2 text-center" disabled="">REVISTAS</button> *@
                        <button type="button" class="btn rounded-0 btn-outline-warning btn-lg mb-2 text-center">REVISTAS</button>
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/RI.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/RII.PNG">
                        <br /> <br />
                        <img src="~/imagenes/BibliotecaVirtual/RIII.PNG">
                        
                    </div>
                </div>

            </div> 
    <br />
    </div>
    </div>
</main>

