@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}
<!-- ======= INICIO DE SESSION DE carrucel DE FOTOS ======= -->
<div class="main-banner">
    <div class="owl-carousel owl-banner">
        <div class="item item-TeleSalud-1" style="height: 450px;">
        </div>
        <div class="item item-TeleSalud-2" style="height: 450px;">
        </div>
        <div class="item item-TeleSalud-3" style="height: 450px;">
        </div>
        <div class="item item-TeleSalud-4" style="height: 450px;">
        </div>
    </div>
</div>
<!-- ======= FIN DE SESSION DE carrucel DE FOTOS ======= -->
<main id="main">
    jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
</main>

