@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}


<main id="main">

    <!-- ======= INICIO DE SESSION CON PESTAÑA (Docenciac)======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h3>Docencia</h3>
                    <br />
                    <p align="justify">
                        V°B° al 100% del Informe Final de Cumplimiento de Compromiso de Mejora Ficha Técnica N° 27.2: “Fortalecimiento de competencias de personal de salud
                        de los hospitales y redes, en el diagnóstico y manejo de patologías prevalentes de la infancia, detección temprana de patologías congénitas y adquiridas 
                        en la primera infancia” en el marco del convenio 2023 con DGIESP /MINSA.
                    </p>
                    <br />
                </div>
                <br />

               @*  <div class="row">
                    <div style="text-align: center">
                        <img src="~/imagenes/MesaPartes/MESAPARTES1.png" class="img-fluid" style="max-height: 200px;" alt="">
                    </div>
                </div> *@

                <p align="justify">
                    <BR />
                    <a href="enlace_para_mejorar_eficiencia_calidad.html">
                    <i class="bi bi-check-circle-fill"></i>
                        OFICIO-000065-2024-DGIESP.pdf
                    </a>

                    <br />
                    <a href="enlace_para_mejorar_eficiencia_calidad.html">
                    <i class="bi bi-check-circle-fill"></i>
                        INFORME-000003-2024-DGIESP-DVICI.pdf
                    </a>

                    <br />
                     <a href="enlace_para_mejorar_eficiencia_calidad.html">
                    <i class="bi bi-check-circle-fill"></i>
                        INFORME FINAL DEL COMPROMISO DE MEJORA FICHA -27.2 INSN-2023.pdf
                    </a>
                    <br />
                </p>
                <br />
                <br />
            </div>
            <div class="row">
                
                <div class="col-md-6 col-xl-3">
                    <h4>Rdo Médico</h4>
                    <!-- Pop Out Modal -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title"><small>El Rdo Medico es una modalidad académica de...</small></h3>
                        </div>
                        <div class="block-content block-content-full">
                            <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal1">Ver más</button>
                        </div>
                    </div>
                    <!-- END Pop Out Modal -->
                </div>

                <div class="col-md-6 col-xl-3">
                    <h4>Rdo Enfermería</h4>
                    <!-- Pop Out Modal -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title"><small>El Rdo en Enfermería es una modalidad de...</small></h3>
                        </div>
                        <div class="block-content block-content-full">
                            <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal2"> Ver más</button>
                        </div>
                    </div>
                    <!-- END Pop Out Modal -->
                </div>
           
                <div class="col-md-6 col-xl-3">
                    <h4>Rdo Odontología</h4>
                    <!-- Pop Out Modal -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title"><small>El Rdo en Odontológico es una modalidad de...</small></h3>
                        </div>
                        <div class="block-content block-content-full">
                            <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal3">Ver más</button>
                        </div>
                    </div>
                    <!-- END Pop Out Modal -->
                </div>
            </div>

            <br />
            <div class="row">
              
                <div class="col-md-6 col-xl-3">
                    <!-- Pop Out Modal -->
                    <h4>Internos</h4>
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title"><small>El internado en ciencias de la salud es el periodo...</small></h3>
                        </div>
                        <div class="block-content block-content-full">
                            <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal4">Ver más </button>
                        </div>
                    </div>
                    <!-- END Pop Out Modal -->
                </div>
               @*  <h3>Internos</h3> *@
                <div class="col-md-6 col-xl-3">
                    <!-- Pop Out Modal -->
                    <h4>Pasantías</h4>
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title"><small>La Pasantía se ofrece a los diferentes profesionales...</small></h3>
                        </div>
                        <div class="block-content block-content-full">
                            <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal5">Ver más </button>
                        </div>
                    </div>
                    <!-- END Pop Out Modal -->
                </div>
                @* <h3>Internos</h3> *@
                <div class="col-md-6 col-xl-3">
                    <!-- Pop Out Modal -->
                    <h4>Convenios y Beneficios</h4>
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title"><small>El Instituto Nacional de Salud del Niño suscribe...</small></h3>
                        </div>
                        <div class="block-content block-content-full">
                            <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal6">Ver más </button>
                        </div>
                    </div>
                    <!-- END Pop Out Modal -->
                </div>
            </div>


          @*  INICICO DE MODALES *@

            <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-popout" role="document">
                    <div class="modal-content">
                        <div class="block block-rounded shadow-none mb-0">
                            <div class="block-header block-header-default">
                                <h3 class="block-title">Residentado Médico</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content fs-sm">

                                <p>El Residentado Medico es una modalidad académica de capacitación de posgrado con estudios universitarios de segunda especialización y entrenamiento presencial e intensivo en servicio de los profesionales de medicina humana, bajo la modalidad de docencia en servicio de acuerdo a las reales necesidades del país y en el marco de las políticas nacionales de salud.</p>
                                <p>Considerando las normas básicas del Sistema Nacional del Residentado Médico, el Instituto Nacional de Salud del Niño (INSN), viene desarrollando la formación de médicos especialistas mediante el Residentado, contando con el respectivo Comité de Sede Docente del Residentado Médico como un órgano de articulación del SINAREME a nivel institucional.</p>

                            </div>
                            <div class="block-content block-content-full block-content-sm text-end border-top">
                                <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                                    Done
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
            <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-popout" role="document">
                    <div class="modal-content">
                        <div class="block block-rounded shadow-none mb-0">
                            <div class="block-header block-header-default">
                                <h3 class="block-title">Residentado Enfermería</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content fs-sm">
                                <p>El Residentado en Enfermería es una modalidad de desarrollo de un programa de Segunda Especialidad Profesional, en el campo de la enfermería, en el que se realizan actividades de docencia en servicio, en campos clínicos y espacios socio-sanitarios autorizados, con el objetivo de garantizar la excelencia académica de la formación.</p>
                            </div>
                            <div class="block-content block-content-full block-content-sm text-end border-top">
                                <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                                    Done
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-popout" role="document">
                    <div class="modal-content">
                        <div class="block block-rounded shadow-none mb-0">
                            <div class="block-header block-header-default">
                                <h3 class="block-title">Residentado Odontología</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content fs-sm">
                                <p>El Residentado en Odontológico es una modalidad de desarrollo de un programa de Segunda Especialidad Profesional, en el campo de la odontología, en el que se realizan actividades de docencia en servicio, en campos clínicos y espacios socio-sanitarios autorizados, con el objetivo de garantizar la excelencia académica de la formación.</p>
                            </div>
                            <div class="block-content block-content-full block-content-sm text-end border-top">
                                <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                                    Done
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal4" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-popout" role="document">
                    <div class="modal-content">
                        <div class="block block-rounded shadow-none mb-0">
                            <div class="block-header block-header-default">
                                <h3 class="block-title">Internos de Ciencias de la Salud </h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content fs-sm">
                                <p>El internado en ciencias de la salud es el periodo correspondiente a las practicas pre profesionales de los estudiantes del último año de formación de pregrado en ciencias de la salud, desarrollado en los establecimientos de salud, bajo tutoría de la universida. De acuerdo a la Resolución Directoral N° 441-2008-INSN-DG-OP
                                emitida el 5 de agosto del 2008, se aprueba la Directiva N° 001-OEAIDE-2008-INSN de “Practicas Pre Profesionales de alumnos de Ciencias de la Salud (Internado) en el Instituto Nacional de Salud del Niño. La presente Directiva tiene por finalidad establecer los criterios, procedimientos y condiciones que se tomaran en cuenta
                                para ser aceptados los alumnos de Ciencias de la Salud que han finalizado su ciclo de estudios y estén aptos para realizar práctica pre profesionales (internado) en el Instituto Nacional de Salud del Niño (INSN) Serán considerados para realizar practicas profesionales en el INSN los alumnos que provengan de facultades acreditadas
                                    que tengan firmado convenio específico de cooperación con nuestra institución y hayan cumplido con todo su plan de estudios, y ser debidamente presentados por su institución.
                                </p>
                                
                            </div>
                            <div class="block-content block-content-full block-content-sm text-end border-top">
                                <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                                    Done
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="modal5" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-popout" role="document">
                    <div class="modal-content">
                        <div class="block block-rounded shadow-none mb-0">
                            <div class="block-header block-header-default">
                                <h3 class="block-title">Pasantías Posgrados</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content fs-sm">
                                <p>La Pasantía se ofrece a los diferentes profesionales de la salud, nacionales (que no laboren en el INSN), o extranjeras debidamente colegiadas, estas instituciones, pueden o no tener Convenio con el INSN.</p>
                                <p> Los Pasantes adquirirán competencia en un área del campo clínico asistencial, el pasante puede ser profesional, bajo la tutoría de un servidor nombrado profesional del Instituto, registrado y acreditado por la Oficina Ejecutiva de Apoyo a la Investigación y Docencia Especializada OEAIDE</p>
                               
                            <div class="block-content block-content-full block-content-sm text-end border-top">
                                <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                                    Done
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="modal6" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-popout" role="document">
                    <div class="modal-content">
                        <div class="block block-rounded shadow-none mb-0">
                            <div class="block-header block-header-default">
                                <h3 class="block-title">Pasantías Posgrados</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content fs-sm">
                                <p>La Pasantía se ofrece a los diferentes profesionales de la salud, nacionales (que no laboren en el INSN), o extranjeras debidamente colegiadas, estas instituciones, pueden o no tener Convenio con el INSN.</p>
                                <p> Los Pasantes adquirirán competencia en un área del campo clínico asistencial, el pasante puede ser profesional, bajo la tutoría de un servidor nombrado profesional del Instituto, registrado y acreditado por la Oficina Ejecutiva de Apoyo a la Investigación y Docencia Especializada OEAIDE</p>

                                <div class="block-content block-content-full block-content-sm text-end border-top">
                                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal7" tabindex="-1" aria-labelledby="modal7" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-popout" role="document">
                    <div class="modal-content">
                        <div class="block block-rounded shadow-none mb-0">
                            <div class="block-header block-header-default">
                                <h3 class="block-title">Convenios y Beneficios</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content fs-sm">

                                <p> El Instituto Nacional de Salud del Niño suscribe  Convenio Específico de Cooperación Docente Asistencial  para brinda campos clínicos para el desarrollo de las actividades académicas en servicio para alumnos de  pre grado y Post grado de  Facultades o Escuelas de Ciencias de la Salud de Universidades  Públicas o Privadas acreditadas.</p>
                                <p> La firma de Convenios con el INSN como institución hospitalaria del Sector Salud se  realizan en cumplimiento de las  normatividad legal vigente Resolución Suprema Nº 032-2005-SA y la Resolución Ministerial Nº 945 -2005/MINSA las mismas establecen que las Universidades a las que pertenecen las Facultades cuenten con un Convenio Marco con 
                                    el MINSA en el que se autorice que pueden suscribir Convenios Específicos con Centros  Hospitalarios de Lima Metropolitana y contar con la aprobación de la  Dirección General de Personal de la Salud del  Ministerio de Salud (MINSA), el Comité Nacional de Pregrado de salud  (CONAPRES),CODIRO, CONAREN o CONAREME instancias  encargadas de la aprobación de los Convenios.
                                </p>



                                <p>La Pasantía se ofrece a los diferentes profesionales de la salud, nacionales (que no laboren en el INSN), o extranjeras debidamente colegiadas, estas instituciones, pueden o no tener Convenio con el INSN.</p>
                                <p> Los Pasantes adquirirán competencia en un área del campo clínico asistencial, el pasante puede ser profesional, bajo la tutoría de un servidor nombrado profesional del Instituto, registrado y acreditado por la Oficina Ejecutiva de Apoyo a la Investigación y Docencia Especializada OEAIDE</p>

                                <div class="block-content block-content-full block-content-sm text-end border-top">
                                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>