@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Servicio de Inmunización</h2>
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <img src="~/imagenes/iconos/especialidades/CirugiaPlastica.svg" width="100%" height="70%">
                        </div>
                        <div class="col-lg-10">
                            <p align="justify">
                                La inmunización es el proceso por el que una persona se hace resistente a una enfermedad,
                                tanto por el contacto con ciertas enfermedades, o mediante la administración de una vacuna.
                                Las vacunas estimulan el sistema inmunitario del cuerpo para proteger a la persona contra
                                infecciones o enfermedades. La inmunización previene enfermedades, discapacidades y defunciones
                                por enfermedades prevenibles por vacunación, tales como el cáncer cervicouterino, la poliomielitis,
                                el sarampión, la rubéola, la paroditis, la difteria, el tétanos, la tos ferina, la hepatitis A y B,
                                las neumonías bacterianas, las enfermedades diarréicas por rotavius y las meningitis bacterianas.
                            </p>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-lg-6">
                            <img src="~/imagenes/especialidades/centrovacunacion/centro de inmunizaciones vacunas-insn.jpeg" class="img-fluid rounded-4" alt="" style="padding-bottom: 20px;">
                        </div>
                        <div class="col-lg-6">
                            <img src="~/imagenes/especialidades/centrovacunacion/centro de inmunizaciones -insn.jpeg" class="img-fluid rounded-4" alt="" style="padding-bottom: 20px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN ======= -->
    <br />
</main>