@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="es">
<head>
    <title>Portal de Galaxy Training</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/PortalGalaxy.WebMvc.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/assets/images/favicon.png" />
</head>
<body>
    <partial name="_Header" />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-auto">
                <img src="~/assets/images/fondologin.png" alt="Logo" />
            </div>
            <div class="col-auto">
                @BodyContent
                <hr/>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>