@model LoginDtoRequest


@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - INSN</title>

    <!-- Favicons -->
    <link rel="icon" href="~/imagenes/logo.ico" type="image/png">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/owl.css" rel="stylesheet" />

</head>

<div id="page-container" class="main-content-boxed">

    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Content -->
        <div class="bg-image" style="background-image: url('/Imagenes/Varios/INSN.jpg');">
            <div class="row mx-0 bg-black-50">
                <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
                </div>
                <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-body-extra-light">
                    <div class="content content-full">
                        <!-- Header -->
                        <div class="px-4 py-2 mb-4">
                            <img src="/Imagenes/Varios/INSN_Logo_peque.png" />
                            <h1 class="h3 fw-bold mt-4 mb-2">Instituto Nacional de Salud de Niño</h1>
                            <h2 class="h5 fw-medium text-muted mb-0">Ingresar al sistema</h2>
                        </div>
                        <!-- END Header -->
                        <!-- Sign In Form -->
                        <form method="post">
                            <div style="margin: 0px; padding: 0px;" asp-validation-summary="All" class="text-danger" role="alert"></div>

                            <div class="form-floating mb-4">
                                <input asp-for="Usuario" class="form-control" autocomplete="username"  />
                                <label class="form-label" for="login-username">Usuario</label>
                                <span asp-validation-for="Usuario" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Password" type="password" class="form-control" />
                                <label class="form-label" for="login-password">Contraseña</label>
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-lg btn-alt-primary fw-semibold">Ingresar</button>

                                <div class="mt-4">
                                    <a class="fs-sm fw-medium link-fx text-muted me-2 mb-1 d-inline-block" href="op_auth_reminder2.html">
                                        Olvidé contraseña
                                    </a>
                                </div>
                            </div>
                        </form>
                        <!-- END Sign In Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<body>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/custom.js"></script>
</body>