@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}


<main id="main">

    <!-- ======= INICIO DE SESSION CON PESTAÑA (Comite Etica)======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h3>Comité de Ética en Investigación</h3>
                    <br />
                    <p align="justify">
                        Se encarga del proceso de evaluación, aprobación, seguimiento y supervisión de las investigaciones con participantes humanos, que realizan en el INSN y 
                        cuentan con previa revisión metodológica de la UDEPI, con la finalidad de proteger sus derechos, seguridad y bienestar de los sujetos participantes en 
                        investigación. Asimismo, coordina la supervisión de las medidas de protección para los participantes y determinar la aprobación, modificación o desaprobación 
                        de los protocolos de investigación, por incumplir con alguna norma ética en investigación.
                    </p>
                    <br />
                </div>
                <br />

               @*  <div class="row">
                    <div style="text-align: center">
                        <img src="~/imagenes/MesaPartes/MESAPARTES1.png" class="img-fluid" style="max-height: 200px;" alt="">
                    </div>
                </div> *@
                <h4>Miembros delComité de Ética</h4>
                <img src="c:\insn\insn.web.portal\wwwroot\imagenes\portada_1.jpg" />
                <h4>Reglamento delComité de Ética</h4>
                <img src="c:\insn\insn.web.portal\wwwroot\imagenes\portada_2.jpg" />
        </div>
      </div>
    </div>
</main>