@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}


<main id="main">

    <!-- ======= INICIO DE SESSION CON PESTAÑA (Comite Etica)======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h3>Comité de Ética en Investigación</h3>
                    <br />
                    <p align="justify">
                        Se encarga del proceso de evaluación, aprobación, seguimiento y supervisión de las investigaciones con participantes humanos, que realizan en el INSN y 
                        cuentan con previa revisión metodológica de la UDEPI, con la finalidad de proteger sus derechos, seguridad y bienestar de los sujetos participantes en 
                        investigación. Asimismo, coordina la supervisión de las medidas de protección para los participantes y determinar la aprobación, modificación o desaprobación 
                        de los protocolos de investigación, por incumplir con alguna norma ética en investigación.
                    </p>
                    <br />
                </div>
                <br />
                <div class="row justify-content-center">

                    <div class="col-md-6 text-center">
                        <h4>Miembros</h4>
                        <div class="position-relative mt-4">
                            <a href="url_para_miembros">
                                <img src="~/Imagenes/ComiteEtica/Comite1.png" class="img-fluid rounded shadow p-2" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <h4>Reglamento del Comité de Ética</h4>
                        <div class="position-relative mt-4">
                            <a href="url_para_reglamento">
                                <img src="~/Imagenes/ComiteEtica/Comite2.png" class="img-fluid rounded shadow p-2" alt="">
                            </a>
                        </div>
                    </div>

                </div>
                <br />
                <br />
                <br />
                <br />
             </div>
        </div>
    </div>
</main>