@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
   
    <!-- ======= INICIO DE SESSION CON PESTAÑA ( Mesa Parte)======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
              @*   <div class="section-header"> *@
                    <div class="section-header">
                        <h2>Mesa de Partes</h2>
                    </div>
                    <br />
                    <p align="justify">
                         La Mesa de Partes Virtual en el Instituto Nacional de Salud del Niño es una plataforma eficiente y segura que facilita la recepción y
                         gestión de documentos de manera electrónica. A través de este sistema, se optimiza el proceso de presentación de solicitudes, trámites y
                         comunicaciones, permitiendo a los usuarios realizar sus diligencias de manera ágil y sin necesidad de desplazarse físicamente.
                    </p>
                    <br />

                <br />

                <div class="row">
                    <div style="text-align: center">
                        <img src="~/imagenes/MesaPartes/MESAPARTES1.png" class="img-fluid" style="max-height: 200px;" alt="">
                       </div>
                </div> 
                <br />
                        <div class="row"> 

                            <div class="col-md-4">
                                <a class="block block-rounded block-link-rotate text-end" style="height: 110px;">
                                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">

                                        <div class="text-end">
                                            <div class="fs-5 fw-semibold">Correo de Trámites</div>
                                            <div class="fs-sm fw-semibold text-uppercase text-muted">utd@insn.gob.pe</div>
                                        </div>
                                        <div class="d-none d-sm-block">
                                            <i class="fa bi-envelope-fill fa-2x opacity-25"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>


                              <div class="col-md-4">
                                <a class="block block-rounded block-link-rotate text-end" style="height: 110px;">
                                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">

                                        <div class="text-end">
                                            <div class="fs-5 fw-semibold">Horario de Atención</div>
                                            <div class="fs-sm fw-semibold text-uppercase text-muted">
                                                Lunes a Viernes <br />
                                                8:00 a.m. a 4:00 .p.m.<br />
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-block">
                                            <i class="fa fa-wallet fa-2x opacity-25"></i>
                                            <i class="bi bi-clock fa-2x opacity-25"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>

                             <div class="col-md-4">
                                <a class="block block-rounded block-link-rotate text-end" style="height: 110px;">
                                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">

                                        <div class="text-end">
                                            <div class="fs-5 fw-semibold">Central Telefónica</div>
                                            <div class="fs-sm fw-semibold text-uppercase text-muted">
                                                (01) 330-0066 Anexo: 1109
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-block">
                                           <i class="fa fa-envelope-open fa-2x opacity-25"></i>
                                            <i class="bi bi-phone flex-shrink-0 fa-2x opacity-25"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <br />
                        <br />
                        <br />

                 <div class="row">
                  
                    <div class="col-md-4">
                        <div id="dc_jqaccordion_widget-10" class="et_pb_widget">
                            <div class="dcjq-accordion" id="dc_jqaccordion_widget-10-item">

                                <ul id="menu-menu-transparencia" class="menu">
                                    <!-- INICIO DATOS GENERALES -->
                                    <li class="sub-menu-heading">1. FORMATOS PARA USUARIO EXTERNO</li>
                                    <li id="menu-item-A1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A1">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/frm%20Solicitud%20al%20Director-externo.pdf" target="_blank">1.1 Solicitud al Director</a>
                                    </li>
                                    <li id="menu-item-A2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A2">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/frm%20Solicitud%20Devoluci%C3%B3n%20Dinero-externo.pdf" target="_blank">1.2 Solicitud Devolución Dinero</a>

                                    </li>
                                    <li id="menu-item-A3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A3">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/SOLICITUD%20DE%20ACCESO%20A%20LA%20INFORMACION.pdf" target="_blank">1.3 Solicitud de Acceso a la información</a>

                                    </li>
                                    <li id="menu-item-A4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A4">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/CARTA-PODER-SIMPLE.pdf" target="_blank">1.4 Carta Poder Simple</a>

                                    </li>
                                    <li id="menu-item-A5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A5">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/SOLIC-DE-OTRA-ENTIDAD-AL-INSN-141954.pdf" target="_blank">1.5 Solicitud Destaque de otra Entidad al INSN<span class="dcjq-icon"></span></a>

                                    </li>
                                </ul>
                                <!-- FIN DATOS GENERALES -->
                                <!-- ----------------------------------- -->
                                <!-- INICIO PLANEAMIENTO Y ORGANIZACION -->
                                <ul id="menu-menu-presupuesto" class="menu">
                                    <li class="sub-menu-heading">2. FORMATOS PARA USUARIO INTERNO</li>
                                    <li id="menu-item-B1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-B1">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/frm%20Solicitud%20al%20Director-interno.pdf" target="_blank">1.1 Solicitud al Director</a>
                                    </li>
                                    <li id="menu-item-B2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-B2">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/frm%20Subsidio%20Fallecimiento-Administrativo.pdf" target="_blank">1.2 Subsidio Fallecimiento-Administrativo</a>

                                    </li>
                                    <li id="menu-item-B3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-B3">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/frm%20Subsidio%20Fallecimiento-Asistencial.pdf" target="_blank">1.3 Subsidio Fallecimiento-Asistencial</a>

                                    </li>
                                    <li id="menu-item-B4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-B4">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/frm%20Subsidio%20Fallecimiento-Pensionista.pdf" target="_blank">1.4 Subsidio Fallecimiento-Pensionista</a>

                                    </li>
                                    <li id="menu-item-B5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-B5">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/SOLICITUD%20AGREGAR%20MI%20LEGAJO.pdf" target="_blank">1.5 Solicitud Agregar mi Legado</a>

                                    </li>
                                    <li id="menu-item-B6" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-B6">
                                        <a href="http://www.insn.gob.pe/sites/default/files/mesadepartes/2023/SOLIC-DEL-INSN-A-OTRA-ENTIDAD-141858.pdf" target="_blank">1.6. Solicitud Destaque de INSN a otra Entidad</a>
                                     </li>
                                </ul>
                                <!-- FIN PLANEAMIENTO Y ORGANIZACION -->
                            </div>
                        </div>

                    </div>

                    <div class="col-8">
                        <div class="row">
                            <!-- ======= INICIO DE COMUNICADO 1======= -->

                            <div class="col-xl-6 col-md-6 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                <h5 style="margin-bottom: 10px;">COMUNICADO CARTA PODER</h5> <!-- Añadimos un margen inferior para separar del siguiente elemento -->
                                <a href="~/imagenes/MesaPartes/CartaPoder.jpg" data-gallery="Portafolio_Comunicado_1" class="glightbox">
                                    <img src="~/imagenes/MesaPartes/CartaPoder.jpg" class="img-fluid rounded shadow p-2" style="max-height: 400px;" alt="">
                                </a>
                            </div>
                                </div>
                            </div>

                            <!-- ======= FIN DE COMUNICADO 1======= -->
                            <!-- ======= INICIO DE COMUNICADO 2======= -->

                            <div class="col-xl-6 col-md-6 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                                    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                        <h5 style ="margin-bottom: 10px";>COMUNICADO ESCRITOS</h5><!-- Añadimos un margen inferior para separar del siguiente elemento -->
                                        <a href="~/imagenes/MesaPartes/ComunicadoEscritos.png" data-gallery="Portafolio_Comunicado_1" class="glightbox">
                                            <img src="~/imagenes/MesaPartes/ComunicadoEscritos.png" class="img-fluid rounded shadow p-2" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ======= FIN DE COMUNICADO 2======= -->
                        </div>



                    </div>
                </div>
                </div>

                                    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->
            </div>
        </div>
</main>

