@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
   
    <!-- ======= INICIO DE SESSION CON PESTAÑA ( Mesa Parte)======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h3>Mesa de Partes</h3>
                </div>
                <br />


                <div class="row">
                    <div class="col-8">
                        <div class="row"> 

                            <div class="col-6 col-xl-4">
                                <a class="block block-rounded block-link-rotate text-end" style="height: 110px;">
                                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">

                                        <div class="text-end">
                                            <div class="fs-5 fw-semibold">Correo de Trámites</div>
                                            <div class="fs-sm fw-semibold text-uppercase text-muted">utd@insn.gob.pe</div>
                                        </div>
                                        <div class="d-none d-sm-block">
                                            <i class="fa bi-envelope-fill fa-2x opacity-25"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-6 col-xl-4">
                                <a class="block block-rounded block-link-rotate text-end" style="height: 110px;">
                                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">

                                        <div class="text-end">
                                            <div class="fs-5 fw-semibold">Horario de Atención</div>
                                            <div class="fs-sm fw-semibold text-uppercase text-muted">
                                                Lunes a Viernes <br />
                                                8:00 a.m. a 4:00 .p.m.<br />
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-block">
                                           @*  <i class="fa fa-wallet fa-2x opacity-25"></i> *@
                                            <i class="bi bi-clock fa-2x opacity-25"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-6 col-xl-4">
                                <a class="block block-rounded block-link-rotate text-end" style="height: 110px;">
                                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">

                                        <div class="text-end">
                                            <div class="fs-5 fw-semibold">Central Telefónica</div>
                                            <div class="fs-sm fw-semibold text-uppercase text-muted">
                                                (01) 330-0066 Anexo: 1109
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-block">
                                           @*  <i class="fa fa-envelope-open fa-2x opacity-25"></i> *@
                                            <i class="bi bi-phone flex-shrink-0 fa-2x opacity-25"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <!-- ======= INICIO DE COMUNICADO 1======= -->
                           
                            <div class="col-xl-6 col-md-6 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                                    <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                        <a href="~/imagenes/MesaPartes/CartaPoder.jpg" data-gallery="Portafolio_Comunicado_1" class="glightbox">
                                            <a2>Comunicado Carta Poder</a2><br />
                                            <img src="~/imagenes/MesaPartes/CartaPoder.jpg" class="img-fluid" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ======= FIN DE COMUNICADO 1======= -->
                            <!-- ======= INICIO DE COMUNICADO 2======= -->
                      
                            <div class="col-xl-6 col-md-6 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                                    <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                        <a href="~/imagenes/MesaPartes/ComunicadoEscritos.png" data-gallery="Portafolio_Comunicado_1" class="glightbox">
                                            <a2>Comunicado Escritos</a2><br />
                                            <img src="~/imagenes/MesaPartes/ComunicadoEscritos.png" class="img-fluid" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ======= FIN DE COMUNICADO 2======= -->
                        </div>



                        </div>
                    <div class="col-4">
                        <div id="dc_jqaccordion_widget-10" class="et_pb_widget">
                            <div class="dcjq-accordion" id="dc_jqaccordion_widget-10-item">

                                <ul id="menu-menu-transparencia" class="menu">
                                    <!-- INICIO DATOS GENERALES -->
                                    <li class="sub-menu-heading">1. FORMATOS PARA USUARIO EXTERNO</li>
                                    <li id="menu-item-A1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-A1">
                                        <a href="#">1.1 Solicitud al Director</a>
                                    </li>
                                    <li id="menu-item-A2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-A2 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.2 Solicitud Devolución Dinero<span class="dcjq-icon"></span></a>

                                    </li>
                                    <li id="menu-item-A3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-A3 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.3 Solicitud de Acceso a la información<span class="dcjq-icon"></span></a>

                                    </li>
                                    <li id="menu-item-A4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-A4 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.4 Carta Poder Simple<span class="dcjq-icon"></span></a>

                                    </li>
                                    <li id="menu-item-A5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-A5 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.5 Solicitud Destaque de otra Entidad al INSN<span class="dcjq-icon"></span></a>

                                    </li>
                                </ul>
                                <!-- FIN DATOS GENERALES -->
                                <!-- ----------------------------------- -->
                                <!-- INICIO PLANEAMIENTO Y ORGANIZACION -->
                                <ul id="menu-menu-presupuesto" class="menu">
                                    <li class="sub-menu-heading">2. FORMATOS PARA USUARIO INTERNO</li>
                                    <li id="menu-item-B1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-B1">
                                        <a href="#">1.1 Solicitud al Director</a>
                                    </li>
                                    <li id="menu-item-B2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-B2 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.2 Subsidio Fallecimiento-Administrativo<span class="dcjq-icon"></span></a>

                                    </li>
                                    <li id="menu-item-B3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-B3 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.3 Subsidio Fallecimiento-Asistencial<span class="dcjq-icon"></span></a>

                                    </li>
                                    <li id="menu-item-B4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-B4 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.4 Subsidio Fallecimiento-Pensionista<span class="dcjq-icon"></span></a>

                                    </li>
                                    <li id="menu-item-B5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-B5 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.5 Solicitud Agregar mi Legado<span class="dcjq-icon"></span></a>

                                    </li>
                                    <li id="menu-item-B6" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-B6 dcjq-parent-li">
                                        <a href="#" class="dcjq-parent">1.6. Solicitud Destaque de INSN a otra Entidad<span class="dcjq-icon"></span></a>

                                    </li>
                                </ul>
                                <!-- FIN PLANEAMIENTO Y ORGANIZACION -->
                            </div>
                        </div>

                    </div>
                </div>
                </div>

                                    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->
            </div>
        </div>
</main>

