@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
   
    <!-- ======= INICIO DE SESSION CON PESTAÑA ======= -->
    <!-- ======= INICIO OBJETIVOS - ORGANIGRAMA - HISTORIA ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Programa de Optimización de Antimicrobianos</h2>
                    <p align="justify">
                        El dramático aumento del uso de antimicrobianos y dentro de estos los antibióticos en los hospitales, 
                        es uno de los factores asociados al incremento de la resistencia bacteriana y actualmente se considera 
                        una pandemia con gran impacto en la salud pública, estimándose que para el año 2050 las infecciones por 
                        bacterias resistentes serán una de las principales causas de muerte a nivel mundial. Al mismo tiempo, 
                        en las últimas décadas la investigación y desarrollo de nuevos antibióticos por la industria farmacéutica
                        es menor, por lo que la disponibilidad de antibióticos eficaces para tratar estas infecciones es cada día 
                        más escasa, sobre todo en países de recursos limitados y hospitales del sector público; dejando a los clínicos 
                        con muy pocas o con ninguna opción terapéutica.Se ha reportado que entre el 30 al 50% del uso de antibióticos a 
                        nivel hospitalario es innecesario e inapropiado. El uso inadecuado de antibióticos conlleva a la selección de 
                        bacterias multiresistentes (MDR), las cuales se asocian a mayores días de hospitalización, mortalidad y costos.
                        El Instituto Nacional de Salud del Niño dando cumplimiento a la NTS N°184-MINSA/DIGEMID-2022 ha implementado la
                        Unidad Funcional de Optimización de Antimicrobianos encargada del Programa de Optimización de Antimicrobianos 
                        (PROA) en la institución cuyos objetivos son:
                    </p>
                    <br />
                    <br />
                </div>


                <div class="row g-sm">
                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="block block-link-shadow text-center" href="javascript:void(0)">
                            <div class="block-content">
                                <p class="mt-1">
                                    <i class="si si-badge fa-4x"></i>
                                </p>
                                <p class="fw-medium">Mejorar los resultados clínicos de los pacientes con infecciones</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="block block-link-shadow text-center" href="javascript:void(0)">
                            <div class="block-content">
                                <p class="mt-1">
                                    <i class="si si-envelope fa-4x text-success"></i>
                                </p>
                                <p class="fw-medium">Minimizar los efectos adversos asociados a la utilización de antimicrobianos; incluyendo la resistencia a antimicrobianos</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="block block-link-shadow text-center" href="javascript:void(0)">
                            <div class="block-content">
                                <p class="mt-1">
                                    <i class="si si-bag fa-4x text-danger"></i>
                                </p>
                                <p class="fw-medium">Garantizar la utilización de tratamientos costo - eficaces</p>
                            </div>
                        </a>
                    </div>
                    




                   </div>
        </div>
    </div>
    <!-- ======= FIN OBJETIVOS - ORGANIGRAMA - HISTORIA ======= -->
    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->

    <br />
</main>

