@model SistemasViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Sistemas</title>

    <!-- Icons -->
    <link rel="icon" href="~/imagenes/logo.ico" type="image/png">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Codebase framework -->
    <link rel="stylesheet" id="css-main" href="~/css/codebase.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />

    <style>
        i {
            color: #0096ad;
        }
    </style>
    <!-- END Stylesheets -->
</head>

<body>
    <div id="page-container" class="sidebar-o sidebar-dark sidebar-mini enable-page-overlay side-scroll page-header-fixed page-header-glass">
        <!-- Main Container -->
        <main id="main-container">
            <!-- header -->
            <div class="bg-image bg-image-bottom" style="background-image: url('/Imagenes/Varios/INSN.jpg');">
                <div class="bg-primary-dark-op">
                    @if (Model.ListaSistema is not null)
                    {
                        if (Model.ListaSistema.Any())
                        {
                            <div class="row text-center" style="color: #FFF; padding-top: 10px;">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <h5>Bienvenido(a), @Model.Nombre.ToUpper()</h5>
                                </div>
                                <div class="col-md-2">
                                    <a class="nav-link text-light" asp-controller="Usuario" asp-action="Logout">Cerrar sesión</a>
                                </div>
                            </div>
                        }
                    }

                    <div class="content content-top text-center overflow-hidden">
                        <div class="pt-5 pb-3">
                            <h2 class="fw-bold text-white mb-2">
                                INSTITUTO NACIONAL DE SALUD DEL NIÑO
                            </h2>
                            <h2 class="h4 fw-medium text-white-75">
                                Seleccione el sistema a ingresar
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END header -->
            <!-- Page Content -->
            <div class="content">
                <div class="row justify-content-center text-center">
                    <!-- Row #1 -->
                    @if (Model.ListaSistema is null)
                    {
                        <p>Sin resultados</p>
                    }
                    else if (!Model.ListaSistema.Any())
                    {
                        <p>Sin datos para mostrar</p>
                    }
                    else
                    {
                        @foreach (var item in Model.ListaSistema)
                        {
                            <div class="col-md-6 col-xl-2">
                                <a class="block block-rounded block-bordered block-link-pop text-center" href="Redireccionar?p=@item.CodigoSistemaId">
                                    <div class="block-content block-content-full text-center">
                                        <p class="p-3 mb-1">
                                            <i class="fa-2x @item.icono fa fa-3x opacity-25"></i>
                                        </p>
                                        <p class="font-w600">@item.descripcion</p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <!--
        Codebase JS

        Core libraries and functionality
        webpack is putting everything together at assets/_js/main/app.js
    -->
    <script src="~/js/codebase.app.min.js"></script>
</body>
</html>