@using INSN.Web.ViewModels.Home
@using INSN.Web.Portal.Resources.Home
@using INSN.Web.Portal.Resources

@* @model DocumentoLegalViewModel

@{
    Layout = "~/Views/Home/DirectorioInstitucional/_LayoutDirectorioInstitucional.cshtml";
}
 *@
<main id="main">
lalalal
</main>




