@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}
<div class="section-header">
    <h2>TeleSalud</h2>
</div>
<!-- ======= INICIO DE SESSION DE carrucel DE FOTOS ======= -->
<div class="main-banner">
    <div class="owl-carousel owl-banner">
        <div class="item item-TeleSalud-4" style="height: 450px;">
        </div>
        <div class="item item-TeleSalud-2" style="height: 450px;">
        </div>
        <div class="item item-TeleSalud-3" style="height: 450px;">
        </div>
        <div class="item item-TeleSalud-5" style="height: 450px;">
        </div>
    </div>
</div>
<!-- ======= FIN DE SESSION DE carrucel DE FOTOS ======= -->
<main id="main">

    <!-- ======= INICIO DE SESSION CON PESTAÑA ( TELESALUD )======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    @* <h2>TELESALUD</h2> *@
                    <p align="justify">
                        La telesalud constituye un servicio de atención médica remota, ofrecido por profesionales de la salud como médicos,
                        obstetras, enfermeras, psicólogos, entre otros, mediante el uso de tecnologías de la información y comunicación (TIC),
                        que incluyen computadoras, teléfonos, aplicativos y sistemas, entre otros recursos. Este innovador enfoque permite
                        acceder a información y atención especializada en salud de manera oportuna y de alta calidad, sin importar la ubicación
                        geográfica del usuario. Para garantizar una experiencia óptima en telesalud, es esencial contar, al menos, con:
                    </p>
                    <br />
                    <br />
                </div>
                <div class="row g-sm">
                    <div class="col-md-4">
                        <a class="block block-link-shadow text-center">
                            <div class="block-content">
                                <p class="fw-medium">Conexión a Internet Rápida y Estable.</p>
                                <br />
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="block block-link-shadow text-center">
                            <div class="block-content">
                                <p class="fw-medium">Dispositivo Adecuado con Funcionalidades de Audio y Video.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="block block-link-shadow text-center">
                            <div class="block-content">
                                <p class="fw-medium">Herramientas de Conferencia Familiarizadas</p>
                                <br />
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->
    <!-- ======= INICIO DE COMPONENTES======= -->
    @* <section id="componentes" class="services sections-bg"> *@
    <section id="componentes" class="testimonials">
        <div class="container" data-aos="fade-up">
            <br />
            <div class="section-header">
                <h2>Componentes</h2>
            </div>
            <!-- ======= INICIO Telemedicina - TeleCapacitación - TeleGestión - TeleIEC ======= -->

            <div class="section best-deal">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="tabs-content">
                            <!-- ======= INICIO TABS ======= -->
                            <div class="nav-wrapper ">
                                <ul class="nav nav-tabs" role="tablist" style="justify-content: center; border-bottom: 2px solid #0096ad !important;">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="Telemedicina-tab" data-bs-toggle="tab" data-bs-target="#Telemedicina" type="button" role="tab" aria-controls="Telemedicina" aria-selected="true">Telemedicina</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="TeleCapacitación-tab" data-bs-toggle="tab" data-bs-target="#TeleCapacitación" type="button" role="tab" aria-controls="TeleCapacitación" aria-selected="false">TeleCapacitación</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="TeleGestión-tab" data-bs-toggle="tab" data-bs-target="#TeleGestión" type="button" role="tab" aria-controls="TeleGestión" aria-selected="false">TeleGestión</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="TeleIEC-tab" data-bs-toggle="tab" data-bs-target="#TeleIEC" type="button" role="tab" aria-controls="TeleIEC" aria-selected="false">TeleIEC</button>
                                    </li>
                                </ul>
                            </div>
                            <!-- ======= FIN TABS ======= -->
                            <!-- ============== -->
                            <div class="tab-content" id="myTabContent">
                                <!-- ================================================================================================================================================ -->
                                <!-- ======= INICIO TELEMEDICINA ======= -->
                                <div class="tab-pane fade show active" id="Telemedicina" role="tabpanel" aria-labelledby="Telemedicina-tab">
                                    <div class="row">
                                        <div class="row gy-4">
                                            @* <section id="Mision_Vision" class="about"> *@
                                            <div class="container">
                                                @* <div class="row gy-4"> *@
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h3> Telemedicina </h3>
                                                        <p align="justify">
                                                            Son servicios de salud a distancia que se brindan a través de una llamada telefónica, videollamada,
                                                            mensaje de texto, entre otros medios de comunicación, mediante los cuales puedes recibir una atención,
                                                            asesoría, seguimiento en salud por parte de un profesional de salud competente.
                                                            Tenemos los siguientes servicios:
                                                            <BR />
                                                            <BR />
                                                            <i class="fa fa-1x fa-check text-info"></i>
                                                            TeleConsulta
                                                            <br />
                                                            <i class="fa fa-1x fa-check text-info"></i>
                                                            TeleInterconsulta
                                                            <br />
                                                            <i class="fa fa-1x fa-check text-info"></i>
                                                            TeleOrientación
                                                            <br />
                                                            <i class="fa fa-1x fa-check text-info"></i>
                                                            TeleMonitoreo
                                                        </p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <br />  <br />  <br />
                                                            <h4>¡Conéctate con nosotros para recibir atención médica a través de WhatsApp!</h4>
                                                            <a href="https://api.whatsapp.com/send/?phone=947487707&text&type=phone_number&app_absent=0" target="_blank">
                                                                <img src="~/Imagenes/Telesalud/wpp.svg" class="img-fluid mx-auto" alt="WhatsApp">
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <br /> <br />
                                                <!-- ======= FIN TELEMEDICINA ======= -->
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <a class="block block-link-shadow text-center" href="~/Imagenes/Telesalud/T3.jpeg" target="_blank">
                                                            <div class="block-content">
                                                                <p class="fw-medium"> TELEINTERCONSULTA </p>
                                                                <p align="justify"> Es la prestación de servicios de salud al permitir la comunicación entre profesionales médicos a través de plataformas virtuales. </p>
                                                                <br />
                                                                <img src="~/Imagenes/Telesalud/TeleCointer.jpeg" class="img-fluid">
                                                                <br /><br />
                                                                @* <div class="text-center">
                                                                <button type="button" class="btn rounded-pill btn-alt-success me-1 mb-1" onclick="window.open('https://portal.research4life.org/', '_blank')">
                                                                Ir al sitio web
                                                                </button>
                                                                <br /><br />
                                                                </div> *@
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a class="block block-link-shadow text-center" href="~/Imagenes/Telesalud/T1.jpeg" target="_blank">
                                                            <div class="block-content">
                                                                <p class="fw-medium"> TELEMONITOREO </p>
                                                                <p align="justify"> Es un servicio de salud remoto que utiliza tecnologías de la información para supervisar continuamente la condición de los pacientes a distancia. </p>
                                                                <img src="~/Imagenes/Telesalud/Telemoni.jpeg" class="img-fluid">
                                                                <br /><br />
                                                                @* <div class="text-center">
                                                                <button type="button" class="btn rounded-pill btn-alt-success me-1 mb-1" onclick="window.open('https://portal.research4life.org/', '_blank')">
                                                                Ir al sitio web
                                                                </button>
                                                                <br /><br />
                                                                </div> *@
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a class="block block-link-shadow text-center" href="~/Imagenes/Telesalud/T2.jpeg" target="_blank">
                                                            <div class="block-content">
                                                                <p class="fw-medium"> TELEORIENTACION </p>
                                                                <p align="justify"> Es un servicio de asesoramiento a distancia que utiliza tecnologías de la información y comunicación para proporcionar orientación y consejo en temas de salud. </p>

                                                                <img src="~/Imagenes/Telesalud/Teleori.jpeg" class="img-fluid">
                                                                <br /><br />
                                                                @* <div class="text-center">
                                                                <button type="button" class="btn rounded-pill btn-alt-success me-1 mb-1" onclick="window.open('https://portal.research4life.org/', '_blank')">
                                                                Ir al sitio web
                                                                </button>
                                                                <br /><br />
                                                                </div> *@
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            @* </section> *@
                                        </div>
                                    </div>
                                </div>
                                <!-- ======= INICIO TELECAPACITACIÓN ======= -->
                                <div class="tab-pane fade" id="TeleCapacitación" role="tabpanel" aria-labelledby="TeleCapacitación-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <BR />
                                            <h3> TeleCapacitación </h3>
                                            <p align="justify">
                                                Es el proceso de enseñanza y aprendizaje dirigido al personal de salud, mediante el uso de las tecnologías
                                                de la información y comunicación (TIC), realizado por profesionales competentes orientado a fortalecer los
                                                conocimientos en temas de salud. Requisitos para acceso a constancias de Telecapacitaciones:
                                                <BR />
                                                <BR />
                                                <i class="fa fa-1x fa-check text-info"></i>
                                                La asistencia mínima, será del 80% del total de Telecapacitaciones programadas.
                                                <br />
                                                <i class="fa fa-1x fa-check text-info"></i>
                                                Se considerará la entrega solo a los participantes conectados por zoom.
                                                <br />
                                                <i class="fa fa-1x fa-check text-info"></i>
                                                Durante la exposición, se enviará el link de asistencia.
                                                <br />
                                                <i class="fa fa-1x fa-check text-info"></i>
                                                La Constancia de Asistencia será entregada, al término de la programación ejecutada.
                                                <br />
                                                <i class="fa fa-1x fa-check text-info"></i>
                                                La Constancia registrará el 100% de horas académicas programadas en el mes.
                                                <br />
                                                <i class="fa fa-1x fa-check text-info"></i>
                                                Las Constancias emitidas serán virtuales y llegarán al correo electrónico registrado.
                                                <br />
                                            </p>
                                            <br />
                                            <br />

                                            <div class="text-center">
                                                <img src="~/imagenes/telesalud/TeleCapa.jpg" class="img-fluid rounded shadow p-2">
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-6 text-center">
                                                <br />  <br />  <br />
                                                <h4>¡Conéctate a la Sala Zoom para tus consultas médicas!</h4>
                                                <a href="https://us02web.zoom.us/j/78352412461?pwd=UVlvdFd4QXEyUHJYOUYxRmpmTzFDUT09#success" target="_blank">
                                                    <img src="~/Imagenes/Telesalud/zoom.svg" class="img-fluid mx-auto" alt="WhatsApp">
                                                </a>
                                            </div>
                                            <div class="col-lg-6 text-center">
                                                <br />  <br />  <br />
                                                <h4>¡Explora nuestros recursos educativos en video!</h4>
                                                <a href="https://www.youtube.com/@@telesaludinsn-oeaide8352" target="_blank">
                                                    <img src="~/Imagenes/Telesalud/You.svg" class="img-fluid mx-auto" alt="WhatsApp">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- ======= FIN TELECAPACITACIÓN ======= -->
                                <!-- ======= INICIO TELEGESTIÓN ======= -->
                                <div class="tab-pane fade" id="TeleGestión" role="tabpanel" aria-labelledby="TeleGestión-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <BR />
                                            <h3> TeleGestión </h3>
                                            <p align="justify">
                                                Es una herramienta fundamental que facilita la continuidad eficiente de las acciones para organizar y
                                                coordinar los servicios de salud. Esta metodología implica la gestión remota de actividades entre el
                                                personal de salud, aprovechando las Tecnologías de la Información y Comunicación (TIC).
                                            </p>
                                            <br />
                                            <br />

                                            <div class="text-center">
                                                <img src="~/imagenes/telesalud/Tele7.jpg" class="img-fluid rounded shadow p-2">
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <!-- ======= FIN TELEGESTIÓN ======= -->
                                <!-- ======= INICIO IEC ======= -->
                                <div class="tab-pane fade" id="TeleIEC" role="tabpanel" aria-labelledby="TeleIEC-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <BR />
                                            <h3> Tele IEC </h3>
                                            <p align="justify">
                                                Teleinformación, Educación y Comunicación, se presenta como una herramienta de comunicación a distancia fundamentada
                                                en el uso de las (TIC). Su propósito es la difusión de conocimientos relacionados con la salud, estilos de vida saludable,
                                                cuidado de la salud, así como aspectos vinculados a la familia y la comunidad.
                                            </p>
                                            <br />
                                            <br />
                                            <div class="row">
                                                <div class="col-lg-6 text-center">
                                                    <img src="~/Imagenes/Telesalud/teleIEC.jpeg" class="img-fluid rounded shadow p-2">
                                                </div>
                                                <div class="col-lg-6 text-center">
                                                    <img src="~/imagenes/telesalud/teleIEC2.jpeg" class="img-fluid rounded shadow p-2">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- ======= FIN IEC ======= -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= FIN DE COMPONENTES ======= -->
    <!-- ======= INICIO ENLACES======= -->
    <section id="componentes" class="services sections-bg">
        @*     <section id="componentes" class="testimonials"> *@
        <div class="container" data-aos="fade-up">
            <br />
            <div class="section-header">
                <h2>Enlaces</h2>
            </div>
            <div class="row" style="justify-content: center;">

                <div class="col-6 col-md-4 col-xl-2">
                    <a class="block block-rounded block-link-shadow text-center" href="https://cloud.insn.gob.pe/index.php/s/MZCSbbRnFJWjtMm" target="_blank">
                        <div class="block-content ribbon ribbon-bookmark ribbon-success ribbon-left">
                          @*   <div class="ribbon-box">1</div> *@
                         @*    <br /> *@
                            <p class="my-3">
                                <i class="far fa-2x fa-file-lines"></i>
                            </p>
                            <p class="fw-semibold text-md">Requisitos para Tele - Interconsulta</p>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <a class="block block-rounded block-link-shadow text-center" href="https://cloud.insn.gob.pe/index.php/s/K9YfLtLt6cHTsf7" target="_blank">
                        <div class="block-content ribbon ribbon-bookmark ribbon-success ribbon-left">
                           @*  <div class="ribbon-box">2</div> *@
                           @*  <br /> *@
                            <p class="my-3">
                                <i class="far fa-2x fa-calendar-check"></i>
                            </p>
                            <p class="fw-semibold">Programación de Tele- Interconsulta</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-xl-2">
                    <a class="block block-rounded block-link-shadow text-center" href="https://cloud.insn.gob.pe/index.php/s/cBzCTtHiDT4rR2q" target="_blank">
                        <div class="block-content ribbon ribbon-bookmark ribbon-success ribbon-left">
                          @*   <div class="ribbon-box">3</div> *@
                           @*  <br /> *@
                            <p class="my-3">
                                <i class="far fa-2x fa-file-word"></i>
                            </p>
                            <p class="fw-semibold">Solicitudes Tele - Interconsulta</p>
                            <br />
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-xl-2">
                    <a class="block block-rounded block-link-shadow text-center" asp-area="" asp-controller="InformeGestion" asp-action="Index">
                        <div class="block-content ribbon ribbon-bookmark ribbon-success ribbon-left">
                           @*  <div class="ribbon-box">4</div> *@
                        @*     <br /> *@
                            <p class="my-3">
                                <i class="far fa-2x fa-file-code"></i>
                            </p>
                            <p class="fw-semibold">Informes de Gestión</p>
                            <br />
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-xl-2">
                    <a class="block block-rounded block-link-shadow text-center" href="https://www.youtube.com/%40telesaludinsn-oeaide8352" target="_blank">
                        <div class="block-content ribbon ribbon-bookmark ribbon-success ribbon-left">
                           @*  <div class="ribbon-box">5</div> *@
                         @*    <br /> *@
                            <p class="my-3">
                                <i class="far fa-2x fa-file-video"></i>
                            </p>
                            <p class="fw-semibold">Videos de Tele-capacitación</p>
                            <br />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= INICIO DE RECONOCIMIENTOS======= -->
    <section id="Reconocimiento" class="portfolio">
        <div class="container" data-aos="fade-up">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center">
                    <!-- Comunicado 1 -->
                    <div class="carousel-item active">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-xl-4 col-md-4 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 200px;">
                                    <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                        <a href="~/Imagenes/Telesalud/Diploma1.PNG" data-gallery="Portafolio_Comunicado_10" class="glightbox">
                                            <img src="~/Imagenes/Telesalud/Diploma1.PNG" class="img-fluid" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Comunicado 2 -->
                            <div class="col-xl-4 col-md-4 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 200px;">
                                    <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                        <a href="~/Imagenes/Telesalud/Diploma2.PNG" data-gallery="Portafolio_Comunicado_10" class="glightbox">
                                            <img src="~/Imagenes/Telesalud/Diploma2.PNG" class="img-fluid" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Comunicado 3 -->
                            <div class="col-xl-4 col-md-4 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 200px;">
                                    <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                        <a href="~/Imagenes/Telesalud/Diploma3.PNG" data-gallery="Portafolio_Comunicado_10" class="glightbox">
                                            <img src="~/Imagenes/Telesalud/Diploma3.PNG" class="img-fluid" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comunicado 4 -->
                    <div class="carousel-item">
                        <div class="row gy-4 justify-content-center">
                            <!-- Comunicado 5 -->
                            <div class="col-xl-4 col-md-4 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 200px;">
                                    <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                        <a href="~/Imagenes/Telesalud/Diploma4.PNG" data-gallery="Portafolio_Comunicado_10" class="glightbox">
                                            <img src="~/Imagenes/Telesalud/Diploma4.PNG" class="img-fluid" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Comunicado 6 -->
                            <div class="col-xl-4 col-md-4 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 200px;">
                                    <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                        <a href="~/Imagenes/Telesalud/Diploma1.PNG" data-gallery="Portafolio_Comunicado_10" class="glightbox">
                                            <img src="~/Imagenes/Telesalud/Diploma1.PNG" class="img-fluid" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Comunicado 7 -->
                            <div class="col-xl-4 col-md-4 portfolio-item filter-app">
                                <div class="portfolio-wrap" style="height: 200px;">
                                    <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                        <a href="~/Imagenes/Telesalud/Diploma2.PNG" data-gallery="Portafolio_Comunicado_10" class="glightbox">
                                            <img src="~/Imagenes/Telesalud/Diploma2.PNG" class="img-fluid" style="max-height: 400px;" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <!-- ======= FIN DE RECONOCIMIENTOS======= -->


</main>

