@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>Psiquiatría</h2>
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <img src="~/imagenes/iconos/especialidades/Psiquiatria.svg" width="100%" height="70%">
                        </div>
                        <div class="col-lg-10">
                            <p align="justify">
                                La Psiquiatría es la especialidad médica que se encarga de la prevención, diagnóstico
                                y tratamiento de problemas que afecten la Salud Mental.
                            </p>
                            <br />
                            <p align="left">
                                <span style="font-size: 1.2em; font-weight: bold;">Servicios</span>
                                <br />
                                <i class="bi bi-check-circle-fill"></i> Problemas emocionales como depresión, ansiedad, fobias, tics, obsesiones y compulsiones<br />
                                <i class="bi bi-check-circle-fill"></i> Trastornos de déficit de atención e hiperactividad <br />
                                <i class="bi bi-check-circle-fill"></i> Trastorno de espectro autista <br />
                                <i class="bi bi-check-circle-fill"></i> Problemas de adolescentes: depresión, ansiedad, trastorno de conducta alimentaria, ideas suicidas, adicciones <br />
                                <i class="bi bi-check-circle-fill"></i> Problemas de conducta y de control de impulsos <br />
                                <i class="bi bi-check-circle-fill"></i> Problemas del lenguaje y aprendizaje <br />
                                <i class="bi bi-check-circle-fill"></i> Problemas de eliminación como enuresis y encopresis <br />
                                <i class="bi bi-check-circle-fill"></i> Retraso mental  <br />
                                <i class="bi bi-check-circle-fill"></i> Psicosis, esquizofrenia<br />
                                <i class="bi bi-check-circle-fill"></i> Problemas asociados al maltrato infantil y abuso sexual.
                            </p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <!-- ======= INICIO STAFF MEDICO ======= -->
                    <div class="section-header">
                        <div class="row gy-4">
                            <div class="col-lg-2">
                                <img src="~/imagenes/iconos/especialidades/staff.svg" width="100%" height="70%" />
                            </div>
                            <div class="col-lg-4" style="align-self: center;">
                                <h6> Staff Médico de la semana</h6>
                            </div>
                        </div>
                    </div>
                    <iframe src="http://asistencia.insn.gob.pe/rol/rolmed.php?icodigo=63" width="100%" height="600"></iframe>
                    <!-- ======= FIN STAFF MEDICO ======= -->
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN ======= -->
    <br />
</main>