@{
    ViewData["Title"] = "INSN Breña";
}
@* 
<div class="main-banner">
    <div class="owl-carousel owl-banner owl-loaded owl-drag" style="margin: 0 auto;">
        <div class="item item-1">
            <div class="header-text">
                <span class="category">Toronto, <em>Canada</em></span>
                <h2>Hurry!<br>Get the Best Villa for you</h2>
            </div>
        </div>
        <div class="item item-2">
            <div class="header-text">
                <span class="category">Melbourne, <em>Australia</em></span>
                <h2>Be Quick!<br>Get the best villa in town</h2>
            </div>
        </div>
        <div class="item item-3">
            <div class="header-text">
                <span class="category">Miami, <em>South Florida</em></span>
                <h2>Act Now!<br>Get the highest level penthouse</h2>
            </div>
        </div>
    </div>
</div> *@

<div class="block block-rounded">
                <div class="block-header block-header-default">
                  <h3 class="block-title"><i class="fa fa-play fa-fw text-primary"></i> Autoplay &amp; White Inner Dots</h3>
                </div>
                <div class="js-slider slick-dotted-inner slick-dotted-white js-slider-enabled slick-initialized slick-slider slick-dotted" data-dots="true" data-autoplay="true" data-autoplay-speed="3000">
                  <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4116px; transform: translate3d(-588px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 588px;">
                    <img class="img-fluid" src="assets/media/photos/photo24.jpg" alt="">
                  </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide60" aria-describedby="slick-slide-control60" style="width: 588px;">
                    <img class="img-fluid" src="assets/media/photos/photo13.jpg" alt="">
                  </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide61" aria-describedby="slick-slide-control61" style="width: 588px;">
                    <img class="img-fluid" src="assets/media/photos/photo14.jpg" alt="">
                  </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide62" aria-describedby="slick-slide-control62" style="width: 588px;">
                    <img class="img-fluid" src="assets/media/photos/photo24.jpg" alt="">
                  </div><div class="slick-slide slick-cloned" data-slick-index="3" id="" aria-hidden="true" tabindex="-1" style="width: 588px;">
                    <img class="img-fluid" src="assets/media/photos/photo13.jpg" alt="">
                  </div><div class="slick-slide slick-cloned" data-slick-index="4" id="" aria-hidden="true" tabindex="-1" style="width: 588px;">
                    <img class="img-fluid" src="assets/media/photos/photo14.jpg" alt="">
                  </div><div class="slick-slide slick-cloned" data-slick-index="5" id="" aria-hidden="true" tabindex="-1" style="width: 588px;">
                    <img class="img-fluid" src="assets/media/photos/photo24.jpg" alt="">
                  </div></div></div>
                  
                  
                <ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control60" aria-controls="slick-slide60" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control61" aria-controls="slick-slide61" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control62" aria-controls="slick-slide62" aria-label="3 of 3" tabindex="-1">3</button></li></ul></div>
              </div>


<main id="main">
    <!-- ======= NOTICIAS  ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
            <br />
            <div class="section-header">
                <h2>Noticias</h2>
            </div>

            <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <!-- Inicio Noticia 1 -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <div class="d-flex align-items-center">
                                                   <div style="text-align: center; width: 100%;">

                                    <img src="~/imagenes/noticias/noticia_1.jpeg" class="testimonial-img flex-shrink-0" alt="">
                                    </div>
                                </div>                               
                                <p>
                                    <h4>20 Julio, 2023</h4>
                                    INSN presente en mesa de trabajo sobre propuesta de Ley RCP para todos
                                    <div class="block-content block-content-full">
                                        <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal-fromleft">Launch Modal</button>
                                    </div>

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Noticia 1 -->           

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Categorías</h2>
                <p align="center">
                    Conoce todos los trámites, servicios y contenido de orientación sobre un tema en específico.

                </p>
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <h3>Solicitud de citas</h3>
                       
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <h3>TeleHist</h3>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <h3>Programa de Optimización Antimicrobianos</h3>
                        
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-bounding-box-circles"></i>
                        </div>
                        <h3>Correo Insitucional</h3>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-calendar4-week"></i>
                        </div>
                        <h3>Biométrico Laboral</h3>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-chat-square-text"></i>
                        </div>
                        <h3>Stock Medicamentos</h3>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-chat-square-text"></i>
                        </div>
                        <h3>Sistema de Control Interno</h3>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </section><!-- End Our Services Section -->

</main><!-- End #main -->


<!-- From Left Modal -->
<div class="modal fade" id="modal-fromleft" tabindex="-1" role="dialog" aria-labelledby="modal-fromleft" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromleft" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Terms &amp; Conditions</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                        Done
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END From Left Modal -->