@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO Misión y Visión ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Nosotros</h2>
                <p align="justify">
                    Máz de nueve décadas, nos hemos entregado por completo
                    a ofrecer servicios especializados de cuidado médico a
                    través de un destacado equipo de expertos en el campo de la salud.
                    Nuestro compromiso con la excelencia ha sido una constante en nuestra trayectoria,
                    y estamos orgullosos de la calidad y la experiencia que brindamos a nuestros pacientes.
                    Cada día, trabajamos incansablemente para seguir siendo líderes en el ámbito de la atención médica,
                    proporcionando un servicio de alta calidad y cuidados personalizados.
                </p>
            </div>
        </div>
    </section>
    <br />
    <!-- ======= FIN Misión y Visión ======= -->
    <!-- ============== -->
    <!-- ======= INICIO DE SESSION CON PESTAÑA ======= -->
    <!-- ======= INICIO OBJETIVOS - ORGANIGRAMA - HISTORIA ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="tabs-content">
                    <!-- ======= INICIO TABS ======= -->
                    <div class="nav-wrapper ">
                        <ul class="nav nav-tabs" role="tablist" style="justify-content: center; border-bottom: 2px solid #0096ad !important;">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="Mision-Vision-tab" data-bs-toggle="tab" data-bs-target="#Mision-Vision" type="button" role="tab" aria-controls="Mision-Vision" aria-selected="true">Misión & Visión</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Objetivos-tab" data-bs-toggle="tab" data-bs-target="#Objetivos" type="button" role="tab" aria-controls="Objetivos" aria-selected="false">Objetivos</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Organigrama-tab" data-bs-toggle="tab" data-bs-target="#Organigrama" type="button" role="tab" aria-controls="Organigrama" aria-selected="false">Organigrama</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Historia-tab" data-bs-toggle="tab" data-bs-target="#Historia" type="button" role="tab" aria-controls="Historia" aria-selected="false">Reseña Histórica</button>
                            </li>
                        </ul>
                    </div>
                    <!-- ======= FIN TABS ======= -->
                    <!-- ============== -->
                    <div class="tab-content" id="myTabContent">
                        <!-- ============== -->
                        <!-- ======= INICIO MISION VISION ======= -->
                        <div class="tab-pane fade show active" id="Mision-Vision" role="tabpanel" aria-labelledby="Mision-Vision-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <section id="Mision_Vision" class="about">
                                        <div class="container" data-aos="fade-up">
                                            <div class="row gy-4">
                                                <div class="col-lg-6">
                                                    <h3>Misión</h3>
                                                    <p align="justify">
                                                        El Instituto Nacional de Salud Del Niño, tiene como misión brindar los servicios de salud integral a
                                                        la población de niños y adolescentes del país, especialmente a los segmentos más vulnerables a través
                                                        del desarrollo de la investigación científica e innovación de la metodología, tecnología y normas para
                                                        su difusión y aprendizaje por los profesionales y técnicos del sector salud así como en la asistencia
                                                        altamente especializada sistematizando la interrelación científica internacional en su campo.
                                                    </p>
                                                    <BR />
                                                    <h3>Visión</h3>
                                                    <p align="justify">
                                                        El Instituto Nacional de Salud Del Niño será líder en el ámbito nacional e internacional en la atención
                                                        Especializada Docencia e Investigación Científica, innovando y desarrollando metodología y tecnologías
                                                        en atención integral altamente especializadas de niños y adolescentes en condiciones que aseguren sus
                                                        derechos y el pleno respeto a su dignidad
                                                    </p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="content ps-0 ps-lg-5">
                                                        <div class="position-relative mt-4">
                                                            <img src="~/imagenes/varios/bandera.jpg" class="img-fluid rounded-4" alt="" style="padding-bottom: 20px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- ============== -->
                        <!-- ======= INICIO OBJETIVOS ======= -->
                        <div class="tab-pane fade" id="Objetivos" role="tabpanel" aria-labelledby="Objetivos-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <section id="Mision_Vision" class="about">
                                        <div class="container">
                                            <div class="row gy-4">
                                                <div class="col-lg-12">
                                                    <h3>   Objetivos Estratégicos:</h3>
                                                    <p align="justify">
                                                        El Instituto Nacional de Salud del Niño, deberá lograr los siguientes objetivos: Ampliar la atención a más niños
                                                        y adolescentes a través del Seguro Integral de Salud y la prestación de servicios especializados:
                                                        <BR />
                                                        <BR />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Mejorar la eficiencia y la calidad de los procesos de atención al paciente.
                                                        <br />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Mejorar la eficacia de los procesos de apoyo a la atención médica.
                                                        <br />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Desarrollar servicios de atención altamente especializados, investigación, métodos y tecnología para mejorar la salud de los niños y adolescentes.
                                                        <br />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Promover el desarrollo del potencial humano.
                                                        <br />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Generar recursos económicos para ampliar y mejorar la calidad de atención de los niños y adolescentes.
                                                    </p>
                                                    <BR />
                                                    <h3> Objetivos Funcionales Generales:</h3>
                                                    <p align="justify">
                                                        Los objetivos funcionales del Instituto Nacional de Salud del Niño son:
                                                        <BR />
                                                        <BR />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Innovar permanentemente las normas, métodos y técnicas para la salud.
                                                        <BR />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Lograr los resultados de las investigaciones específicas encargadas por la Alta Dirección y Direcciones Generales técnico-normativas del Ministerio de Salud.
                                                        <BR />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Incrementar continuamente la calidad y productividad de la investigación especializada.
                                                        <BR />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Alcanzar la eficacia, calidad y eficiencia en la prestación de servicios especializados de salud.
                                                        <BR />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Lograr la adquisición y aplicación de nuevos conocimientos científicos y tecnológicos de la investigación, docencia y atención especializada de salud.
                                                        <BR />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Establecer relaciones de cooperación con la comunidad científica y tecnológica a nivel nacional e internacional, en el marco de sus objetivos funcionales a través de la Alta Dirección del Ministerio de Salud.
                                                        <BR />
                                                        <i class="bi bi-check-circle-fill"></i>
                                                        Lograr que los profesionales de la salud y técnicos del sector, conozcan y sean capacitados en nuevos conocimientos científicos y tecnológicos, adquiridos en la investigación docencia y atención especializada.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- ======= FIN OBJETIVOS ======= -->
                        <!-- ============== -->
                        <!-- ======= INICIO ORGANIGRAMA ======= -->
                        <div class="tab-pane fade" id="Organigrama" role="tabpanel" aria-labelledby="Organigrama-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <!-- ============== -->
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/imagenes/varios/organigrama.jpg" class="img-fluid" alt="">
                                    </div>
                                    <!-- ============== -->
                                </div>
                            </div>
                        </div>
                        <!-- ======= FIN ORGANIGRAMA ======= -->
                        <!-- ============== -->
                        <div class="tab-pane fade" id="Historia" role="tabpanel" aria-labelledby="Historia-tab">
                            <div class="row">
                                <section id="about" class="about">
                           
                                    <div class="container mt-5">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <h2>Reseña Histórica</h2>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                                <img src="~/Imagenes/ReseñaHistorica/RH1g.PNG" class="img-fluid" alt="Imagen">
                                            </div>

                                            <div class="col-md-6">
                                                <p align="justify">
                                                    La necesidad imperiosa de un hospital exclusivamente para niños que  proteja y albergue al menor desvalido, que  ofrezca cuidados especializados, además de cubrir el número de menores que no podían ser abarcados por los hospitales de ese entonces, fueron los motivos por los cuales se erigió el Hospital del Niño.
                                                    Gracias a  la perseverante y loable labor desplegada por la Sociedad Auxiliadora de la infancia presidida por la respetable matrona limeña doña Juana Alarco de Dammert, posteriormente llamada “La abuela de los niños”, junto con la colaboración de diversas entidades públicas y privadas hicieron realidad la creación del primer hospital para niños del país.
                                                    El primer paso dado hacia la construcción  del nosocomio se concretó mediante la  Resolución Suprema del 24 de agosto de 1923, que señalaba"... es deber del gobierno propender a que dicha obra se lleve a cabo y tenga la orientación más adecuada a las necesidades del local...”. A este fin dicha resolución nombró dos comisiones una compuesta por los doctores 
                                                    Sebastián Lorente, Francisco Graña y Fernando Carvajal, quienes estudiaron el proyecto de ubicación de los planos, etc.; y otra comisión de damas presidida por la Sra. Juana Alarco de Dammert que integraba las señoras Ayulo de Puente y Wells de Alvares  Calderón, que se encargaron de todo lo referente a  la provisión de fondos necesarios a la realización 
                                                    de la obra y de la administración  del hospital al comenzar su funcionamiento.Asimismo la Resolución Suprema del 11 de Octubre de 1923, creó arbitrios que se  dedicaron exclusivamente al establecimiento y sostenimiento del hospital para niños, que la Beneficencia Pública de Lima estableció a cargo  de la Sociedad Auxiliadora de la Infancia.
                                                    El Hospital del Niño se instaló en la clínica “Pasteur” propiedad de la Sociedad de Beneficencia, quien cedió dicha locación el 22 de octubre de 1923, a pedido de la Sociedad Auxiliadora de la infancia; y el 18 de octubre de 1924 se aprobaron los planos y presupuestos por la Sociedad Benavides Álvarez Calderón  para la construcción de la obra del Hospital 
                                                    del Niño, la cual tuvo un costo de 172,806.00 libras peruanas.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-6">
                                                <p align="justify">
                                                    Se inauguró el Hospital del Niño, el 1 de noviembre de 1929, con el nombre de "Julia Swayne de Leguía"; bajo la presidencia de la República de don Augusto B. Leguía y el Dr. Carlos Krundieck como primer director general del hospital. Abrió sus puertas el 2 de enero de 1930, con la dirección general del  Dr. Eduardo Goycochea. El primer día se atendieron 
                                                    sólo a siete pacientes pagando 0.7 centavos por consulta. El 10 de abril el hospital extiende sus servicios con los de internamiento en un solo servicio, el de cirugía con 20 camas (Pabellón 4) a cargo del Dr. Carlos Macedo y el Dr. Jorge Romaña interno en ese entonces. 
                                                    El Hospital del Niño surgió como una entidad de salud que atendía sólo de forma local. Pero las necesidades de la población le dieron mayores responsabilidades convirtiéndose en hospital nacional. Se dio, en nuestro país, el primer paso en materia de hospitalización especializada para el niño.
                                                    En 1930 el hospital atiende a la población a través de los consultorios externos de Cirugía, y Medicina, Oftalmología, Otorrinolaringología, Dermatología, Fisioterapia, Rayos x,  laboratorio. Poco a poco se introdujo otros servicios, consistentes 2 salas de medicina, con 48 camas cada una, 1 sala 
                                                    de cirugía con 20 camas, una de infecto contagiosos con 12 camas; total 150 camas. Con el tiempo fue creciendo el número de pacientes en el sanatorio  pues se alcanzó la cifra de 500 camas de hospitalización.
                                                </p>
                                            </div>

                                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                                <img src="~/Imagenes/ReseñaHistorica//RH2.PNG" class="img-fluid" alt="Imagen">
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                                <img src="~/Imagenes/ReseñaHistorica//RH3.PNG" class="img-fluid" alt="Imagen">
                                            </div>

                                            <div class="col-md-6">
                                                <p align="justify">
                                                    El deseo de los directores del hospital no sólo fue crear un nosocomio para niños sino también quisieron fundar una verdadera escuela de profilaxis y orientación de los hogares menesterosos, con la participación del Servicio Social de la institución.
                                                    En 1933 el Hospital del Niño se encontraba organizado en clínica de pagantes,  con 20 cuartos, servicio de consultorios externos y un pensionado de pabellones, al mando de un grupo de médicos fundadores y otros nuevos.

                                                    Además, se tuvo que crear nuevos consultorios y adoptar los servicios de acuerdo con la naturaleza de las enfermedades; por eso el servicio de Ortopedia se refunde con el de Cirugía y en el local debajo se instala los servicios de Dermatología y 
                                                    Otorrinolaringología. Posteriormente,  se gestiona y consigue construir nuevos pabellones de 60 camas cada uno. También se amplían los pabellones de medicina construyéndoles 2° y 3° piso.
                                                    Gracias al esfuerzo y experiencia del consejo de médicos y la preparación pujante de la juventud trabajadora, surge la Escuela de Pediatría del Hospital del Niño  con criterio moderno sobre nuevas bases.

                                                    En 1935 evoluciona la visión de la medicina, se convierte en una profesión más libre, humanizada y participativa, por ello y por el anhelo de  la unificación de una sola clase se forma la Asociación del Hospital  del Niño -única en su género en 
                                                    aquella época- el cual agrupó a todos los trabajadores de dicho nosocomio. La que fue presidida Luis A. Suárez, acompañado de Gilberto Morey, Jorge Salazar, Tomás Escajadillo, Eduardo Goycochea y Marcos Altuna. Pero es en 1941 que surge a la vida institucional.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-6">
                                                <p align="justify">
                                                    Dicha asociación dio sus frutos y en julio de 1949 nace la Federación Médica Peruana, instituida por la Convención Médica Peruana, con la concurrencia de 54 asociaciones médicas,  donde Gilberto Morey y luego Luis A. Suárez presidieron esta respetada federación.
                                                    Años después y gracias a una ardua lucha  de los asociados de la federación se logró aprobar en el congreso la ley 15173 (anexo 01) que creó el Colegio Médico del Perú, el 11 de agosto de 1964, con la firma del presidente del Senado, Ramiro Prialé Prialé.
                                                    El 2 de febrero de 1939, se inauguró los nuevos pabellones para tuberculosis e infectocontagiosos, al mando del Dr. Alfredo León y el Dr. Teodoro Seminario respectivamente. Para la fecha las camas aumentaron de 135 a 350 en beneficio de los menores.
                                                    En 1954 el hospital puso en práctica la idea de la Medicina Preventiva,  atendiendo a los niños sanos a través de un dispensario creado por la institución, en el que se acogía a los niños del distrito, los que luego de ser visitados por las enfermeras de 
                                                    salud pública se les informaba a las madres la necesidad de concurrir al Hospital del Niño, para darles las instrucciones relativas a la crianza y desarrollo del menor. En esta época se logró atender a más de 150 menores al año.
                                                </p>
                                            </div>

                                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                                <img src="~/Imagenes/ReseñaHistorica//RH4.PNG" class="img-fluid" alt="Imagen">
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                                <img src="~/Imagenes/ReseñaHistorica//RH5.PNG" class="img-fluid" alt="Imagen">
                                            </div>

                                            <div class="col-md-6">
                                                <p align="justify">
                                                    En 1929 se contaba con 10 consultorios para 1954 se duplicó la cifra en 20, creándose centros de consulta  para las diferentes especialidades como Cardiología, Alergia, Tuberculosis, Sifilografía, Infecto-Contagiosos, Cirugía Pediátrica, Neuropsiquiatría,  Transfusión, Dietética, Endocrinología, Traumatología, Urovenereología.
                                                    El Dr. Otto Gambini  asumió la dirección general de 1970 hasta 1971, destacando su gestión la fundación de la imprenta en el hospital.
                                                    El 24 de mayo de 1983 mediante Resolución Ministerial Nº 0120-83-SA se aprueba el cambio del nombre del Hospital del Niño por Instituto Nacional de Salud del Niño.

                                                    En la década de los noventa, bajo el gobierno de Alberto Fujimori y la dirección general de la Dra. Virginia Baffigo, se reorganiza mediante Resolución Ministerial N° 002-92-SA, publicado el 18 de agosto de 1992, las entidades públicas entre ellas el Ministerio de Salud, se cambia muchos hospitales públicos en institutos, para 
                                                    que se dediquen a la investigación de actividades científicas-tecnológicas, es así que el Instituto Nacional de Salud del Niño es cambiado por Instituto de Salud del Niño; años más tarde nuevamente se cambia de nombre por Instituto Especializado de Salud del Niño.
                                                    La política y los objetivos del hospital fueron innovándose, favoreciendo la atención indiscriminada de los niños y adolescentes, priorizando la atención de los grupos más vulnerables, impulsando el desarrollo  de la pediatría, a través de la investigación.
                                                    Al mismo tiempo se beneficia la inversión productiva mediante el uso eficiente de los recursos.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-6">
                                                <p align="justify">
                                                    En el área de investigación el hospital  instituyó la dirección de Tecnología que promueve el desarrollo del estudio de las patologías que son las más importantes en la edad pediátrica. La tecnología marcó grandes logros en la Unidad de Cirugía y el Banco de Tejidos, el cual es el único en el Perú y el tercero en Latinoamérica después de Cuba y Argentina.
                                                    En julio de 1995 se inauguró la Clínica Odontopediátrica, dicho evento contó con la presencia del Ministro de Salud Dr. Eduardo Yong Motta. Ese mismo año se inauguró el Módulo para la Atención de Víctimas del Maltrato Infantil (MAMIS).

                                                    En el mes de octubre, el ministro de Economía Ingeniero Jorge Camet por el Perú y Herve Gaymard por Francia, rubricaron el protocolo de cooperación Franco-Peruano, favoreciendo el camino del crédito para salud en beneficio de los pacientes del  Hospital Arzobispo Loayza.
                                                    En mayo de 1997 el  Banco de Tejidos del Instituto Nacional de Salud del Niño, recibió un cheque de 10 mil dólares, donado por la Asociación Peruana de Seguros (APESEG), cuyo donativo  es realizado de forma anual a beneficio de la institución.

                                                    El Ministerio de Salud, mediante Resolución Ministerial N° 494-97SA/DM, publicado en el diario El Peruano, del 31 de octubre de 1997, declara al Laboratorio de Hipotiroidismo Congénito del INSN  como de  REFERENCIA NACIONAL, por encontrarse implementado adecuadamente y con  personal profesional idóneo para procesar muestras de sangre de recién nacidos a nivel nacional.
                                                    En 1999 se colocó la primera piedra para la construcción del edificio del Servicio de Medicina del Adolescente el cual poseía un área ya construida de cinco pisos en casco que incluía tres sótanos.
                                                </p>
                                            </div>

                                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                                <img src="~/Imagenes/ReseñaHistorica//RH6.PNG" class="img-fluid" alt="Imagen">
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                                <img src="~/Imagenes/ReseñaHistorica//RH7.PNG" class="img-fluid" alt="Imagen">
                                            </div>

                                            <div class="col-md-6">
                                                <p align="justify">
                                                    El nuevo siglo XXI comenzó con buen pie al inaugurarse una moderna sala Postoperatoria  Cardiovascular, realizada gracias al apoyo de la Fundación Peruana Cardio Infantil, la que permitió elevar el número de operaciones de tres por 20 casos al mes.
                                                    Además, se logró ampliar el servicio de Hemodiálisis, remodelar el Servicio de Quemados y Pabellón I, el Servicio de Neonato, Servicio de Hematología y el Servicio de Neuro-Cirugía. Asimismo se construye áreas verdes frente a los nuevos edificios de Medicina del Adolescente y Diagnóstico por Imágenes.
                                                    Se adquirió equipos como camas quirúrgicas, instrumental médico, oxímetros digitales audiómetros y analizadores de gas enterales, mesa de operación hidráulica, monitores cardiacos, ecógrafos, entre otros.

                                                    Las necesidades de salud de la  población ha generado que el instituto diseñe las Campañas Extramuros, trasladando un equipo de profesionales médicos de diversas especialidades, a los lugares más alejados del país para atender a los pequeños que por falta de recursos no pueden llegar a la ciudad capital, 
                                                    descentralizando de esta manera la atención pediátrica. Gracias a esta campaña durante el 2004 se realizaron 46 722 atenciones en un total de 28 875 pacientes, de los cuales 410 necesitaron intervenciones quirúrgicas gratuitas.
                                                    Además, la capacidad y alta preparación del personal médico y asistencial es reconocido a nivel mundial y es común que de diferentes partes del mundo lleguen profesionales interesados en conocer los procedimientos empleados por los galenos peruanos.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-6">
                                                <p align="justify">
                                                    Asimismo, los especialistas médicos, técnicos asistenciales, enfermeras y administrativos en salud del INSN reciben constantes capacitaciones a través de la Dirección de Investigación y Docencia que prepara y diseña cursos que redundan en beneficio de nuestros usuarios: los niños y adolescentes.
                                                    Para el 2004 el hospital recibió un importante ingreso económico  y donaciones. Un aporte significativo realizó la Clínica del INSN -el cual aporta el 30% de sus ingresos- este año registró un total de 6 millones de soles, de los cuales aproximadamente 700 mil nuevos soles son para el  Instituto Especializado de Salud del Niño.

                                                    De igual modo la oficina de Cooperación Científica Internacional –que inició actividades este año- presidida por la Dra. Wieslawa De Pawlikowski  gestionó una importante donación de 60 mil dólares provenientes de la Fundación Vitol.
                                                    Se une a esta causa la Asociación de Damas Voluntarias quienes donaron un moderno equipo de Electromiografía y Potenciales Evocados.

                                                    Próximos a celebrar 89 años de vida institucional, el actual director general, Dr. Jorge Jáuregui Miranda, asume el reto de preparar un gran acontecimiento para celebrar como se merece este aniversario, donde están invitados a participar los trabajadores, benefactores, autoridades nacionales e internacionales.
                                                    El entusiasmo y capacidad que tuvieron los directores y médicos que pasaron por el INSN ha sido heredado e intensificado por los profesionales que hoy laboran en el hospital y que celebran con orgullo los 89 años de creación.
                                                </p>
                                            </div>

                                           @*  <div class="col-md-6">
                                                <img src="~/Imagenes/ReseñaHistorica/h1.png">
                                            </div> *@
                                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                                <img src="~/Imagenes/ReseñaHistorica//RH8.PNG" class="img-fluid" alt="Imagen">
                                            </div>

                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN OBJETIVOS - ORGANIGRAMA - HISTORIA ======= -->
    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->
</main>